{% block head %} {% include 'layouts/head.html' %} {% endblock %}

<body class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="align-items-center justify-content-center">
        
    </section>
    <script rel="stylesheet " src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/datatables.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/scripts.js' ) }} "></script>

</body>

</html>