{% block head %} {% include 'layouts/head.html' %} {% endblock %}

<body class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="d-flex align-items-center justify-content-center py-4 bg-light">
      <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 2rem;">
          <!-- Carrusel -->
          <div class="col-lg-9 col-md-12 mb-3 justify-content-center">
            <div id="carouselExampleCaptions" class="carousel slide shadow-sm rounded" data-bs-interval="3000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/images/Fotos/Irradiancia.png" class="d-block w-100 rounded" alt="Estudia la irradiancia solar">
                  <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                    <h5 class="mb-1 bg-dark bg-opacity-50 p-1 rounded">Estudia la irradiancia solar</h5>
                    <p class="bg-dark bg-opacity-50 p-1 rounded">Explora datos precisos para investigaciones avanzadas.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Fotos/Informacion.png" class="d-block w-100 rounded" alt="Explora el potencial solar">
                  <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                    <h5 class="mb-1 bg-dark bg-opacity-50 p-1 rounded">Explora el potencial solar</h5>
                    <p class="bg-dark bg-opacity-50 p-1 rounded">Accede a datos de irradiancia precisos para tus proyectos.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Fotos/Proyectos.png" class="d-block w-100 rounded" alt="Diseña tu sistema fotovoltaico">
                  <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                    <h5 class="mb-1 bg-dark bg-opacity-50 p-1 rounded">Diseña tu sistema fotovoltaico</h5>
                    <p class="bg-dark bg-opacity-50 p-1 rounded">Simula estructuras eficientes con facilidad.</p>
                  </div>
                </div>                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>            
          </div>
        </div>
        <div class="row justify-content-center" style="padding-right: 7rem;padding-left: 7rem;">
          <!-- Tarjetas -->
          <div class="col-md-3 mb-3">
            <div class="card h-100 shadow border-0 rounded-3">
              <img src="/static/images/Fotos/card/fotovoltaica.png" class="card-img-top rounded-top" alt="Simula una Estructura Fotovoltaica">
              <div class="card-body">
                <h5 class="card-title">Simula una Estructura Fotovoltaica</h5>
                <p class="card-text">Diseña y ajusta estructuras solares de forma interactiva.</p>
                <a href="/ver_modal_proyecto" class="btn btn-primary btn-sm modal_proyecto">Crear Estructura</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card h-100 shadow border-0 rounded-3">
              <img src="/static/images/Fotos/card/irradiancia.png" class="card-img-top rounded-top" alt="Análisis de Irradiancia">
              <div class="card-body">
                <h5 class="card-title">Análisis de Irradiancia</h5>
                <p class="card-text">Accede a datos precisos de irradiancia para estudios científicos.</p>
                <a href="/irradiance_display" class="btn btn-primary btn-sm">Visualizar Irradiancia</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card h-100 shadow border-0 rounded-3">
              <img src="/static/images/Fotos/card/demanda.png" class="card-img-top rounded-top" alt="Demanda Energética">
              <div class="card-body">
                <h5 class="card-title">Demanda Energética</h5>
                <p class="card-text">Monitorea y analiza el consumo energético obtenido por un analizador de energía.</p>
                <a href="/demand_display" class="btn btn-primary btn-sm">Visualizar Demanda</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card h-100 shadow border-0 rounded-3">
              <img src="/static/images/Fotos/card/datos.png" class="card-img-top rounded-top" alt="Gestiona tus Datos">
              <div class="card-body">
                <h5 class="card-title">Gestiona tus Datos</h5>
                <p class="card-text">Edita y actualiza tu perfil para una mejor experiencia.</p>
                <a href="/edit_profile" class="btn btn-primary btn-sm">Editar Mis Datos</a>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </section>
    
    
    
    <script rel="stylesheet " src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/datatables.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/scripts.js' ) }} "></script>

</body>

</html>