{% block head %} {% include 'layouts/head.html' %} {% endblock %}
<script>
    $(function() {
        // Inicializa DataTable y guarda la referencia
        $('#tabla, #tabla2').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<body class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    
    <section class="container-fluid">  
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-3  bg-body-tertiary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasRightLabel" style="margin-bottom: 2rem;color:#13447c;font-size: 22px;"><b>Demanda Energetica</b></h4>                    
                </div>
                <div class="offcanvas-body">
                    <form action="/demand_display" method="post" enctype="multipart/form-data" style="margin-bottom: 2rem;">
                        <div>
                            <label for="file" class="form-label"><b>Subir Archivo .xlxs</b></label>
                            <input type="file" class="form-control form-control-sm" id="file" name="file" accept=".xlsx" required>
                            <button type="submit" id="file-button" class="btn btn-primary mt-2 " 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Asegurate que el archivo Excel, tenga la columna AvePSum.">Subir</button>
                        </div>
                    </form>
                    <hr>
                    <form action="/demand_value_calculation" method="post" >
                        <label for="file" class="form-label"><b>Costo de Energia</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="number" class="form-control form-control-sm" id="costo_energia" name="costo_energia" placeholder="Costo Energia" min="100" step="0.001" required>
                        </div>                            
                        <button type="submit" id="agregar-costo" class="btn btn-primary  mt-2" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Asegurate que el costo de energia sea correcto.">Agregar</button>
                    </form>  
                </div>
            </div> 
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container" data-aos="fade-up">
                    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;">  
                        <div class="col-lg-6 col-sm-12 ms-sm-auto">
                            <div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 44rem;">
                                <div class="card-body"  style="overflow-x: auto;">
                                    <h3>Datos Demanda de Energia</h3>
                                    {% if db_dem is not none %}
                                    <table id="tabla" class="table table-responsive table table-hover" >
                                        <thead class="table-primary">
                                            <tr>
                                                <th>Fecha y Hora</th>
                                                <th>Demanda Energetica</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for db_dem in db_dem %}
                                            <tr>
                                                <td class="time">{{db_dem[1]}}</td>
                                                <td class="dat_demand">{{db_dem[0]}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p class="text-danger ">Error: No se encontraron datos de irradiancia.</p>
                                    {% endif %}
            
                                </div>
                            </div>
                            <div  class="card  shadow-lg card-flush h-md-50 mb-5 mb-xl-10">
                                <div id="chart"></div> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 ms-sm-auto">
                            <div  class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 44rem;">
                                <div class="card-body" style="overflow-x: auto;">
                                    <h3>Analisis Datos Demanda de Energia</h3>
                                        {% if db_ana_dem is not none %}                        
                                        <table id="tabla" class="table table-responsive table table-hover" >
                                            <thead class="table-primary">
                                                <tr>
                                                    <th>Fecha </th>
                                                    <th>Excedente</th>
                                                    <th>Consumo</th>
                                                    <th>Energia Perdida</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for db_ana_dem in db_ana_dem %}
                                                <tr>
                                                    <td class="time">{{db_ana_dem[0]}}</td>
                                                    <td class="excedente">{{db_ana_dem[1]}}</td>
                                                    <td class="consumo">{{db_ana_dem[2]}}</td>
                                                    <td class="perdida">{{db_ana_dem[3]}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                    <p class="text-danger ">Error: No se encontraron datos de irradiancia.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div  class="card  shadow-lg card-flush h-md-50 mb-5 mb-xl-10">
                                <div id="chart1"></div> 
                            </div>
                        </div>                         
                    </div> 
                                        
                    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;"> 
                        <div class="col-lg-6 col-sm-12">
                            {% if costo and costo is not none and consult_promedio is not none %} 
                                <div  class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 29rem;">
                                    <div class="card-body"  style="overflow-x: auto;" >
                                        <div class="container-fluid">
                                            <h3>Promedio</h3>                                                                
                                            <table class="font-table table table-responsive table-hover"  >
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th>-</th>
                                                        <th>Consumo (W)/día</th>
                                                        <th>Consumo (KW)/día</th>
                                                        <th>Consumo (KW)/mes</th>
                                                        <th>Pago ($)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                            
                                                    {% for item in consult_promedio %}
                                                    <tr>
                                                        <td class="promedio_nombres"><b>{{ item[0] }}</b></td>
                                                        <td class="promedio_dia_w">{{ (item[1]) | round(2) }}</td>
                                                        <td class="promedio_dia_kw">{{ (item[1] / 1000) | round(2) }}</td>
                                                        <td class="promedio_mes_kw">{{ ((item[1] / 1000) * 30) | round(2) }}</td>
                                                        <td class="promedio_pago">{{ (((item[1] / 1000) * 30) * costo) | round(2) }}</td>
                                                    </tr>
                                                    {% endfor %}                            
                                                </tbody>
                                            </table>                    
                                        </div>
                                    </div>
                                </div>
                                <div  class="card  shadow-lg card-flush h-md-50 mb-5 mb-xl-10">
                                    <div id="chart2"></div> 
                                </div>                                
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-sm-12">                            
                            {% if costo and costo is not none and consult_neto is not none %}
                                <div  class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 29rem;">
                                    <div class="card-body" style="overflow-x: auto;" >
                                        <div class="container-fluid">
                                            <h3>Consumo Neto</h3>
                                                                
                                            <table  class="table font-table table-responsive table-hover" >
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th>-</th>
                                                        <th>Consumo (W)/día</th>
                                                        <th>Consumo (KW)/mes</th>
                                                        <th>Pago ($)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                                
                                                    {% for item in consult_neto %}
                                                        <tr>
                                                            <td class="nombres"><b>{{ item[0] }}</b></td>
                                                            <td class="consumo_dia_w">{{ (item[1]) | round(2) }}</td>
                                                            <td class="consumo_mes_kw">{{ (item[1] / 1000) | round(2) }}</td>
                                                            <td class="pago">{{ ((item[1] / 1000) * costo) | round(2) }}</td>
                                                        </tr>
                                                    {% endfor %}                                                
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div  class="card  shadow-lg card-flush h-md-50 mb-5 mb-xl-10">
                                    <div id="chart3"></div> 
                                </div>
                            {% endif %}
                        </div>
                    </div>                       
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Obtener los datos de la tabla y convertirlos en un array de objetos
                            var dates = [];
                            document.querySelectorAll('#tabla tbody tr').forEach(function(row, index) {
                                var timeElement = row.querySelector('.time');
                                var demandElement = row.querySelector('.dat_demand');
                                
                                if (timeElement && demandElement) {
                                    var timeText = timeElement.innerText;
                                    var demandText = demandElement.innerText;
                                    
                                    var time = new Date(timeText).getTime();
                                    var demand = parseFloat(demandText.replace(/,/g, '')); // Reemplazar comas si existen
                                    
                                    if (!isNaN(time) && !isNaN(demand)) {
                                        dates.push({ x: time, y: demand });
                                    } 
                                } 
                            });
                    
                            console.log(dates); // Verificar los datos extraídos
                    
                            // Configuración del gráfico
                            var options = {
                                series: [{
                                    name: 'Demanda Energética',
                                    data: dates
                                }],
                                chart: {
                                    type: 'area',
                                    height: 300,
                                    zoom: {
                                        type: 'x',
                                        enabled: true,
                                        autoScaleYaxis: true
                                    },
                                    toolbar: {                                
                                        export: {
                                            csv: {
                                                filename: 'demanda_energetica',
                                                columnDelimiter: ',',
                                                headerCategory: 'Fecha y Hora',
                                                headerValue: 'Demanda',
                                                categoryFormatter(x) {
                                                    // Formatear la fecha y hora para la exportación CSV
                                                    return new Date(x).toLocaleString();
                                                },
                                                valueFormatter(y) {
                                                    return y.toFixed(2); // Ajusta el formato del valor si es necesario
                                                }
                                            }
                                        },
                                        autoSelected: 'zoom'
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                markers: {
                                    size: 0,
                                },
                                title: {
                                    text: 'Movimiento de Demanda Energética',
                                    align: 'left'
                                },
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        shadeIntensity: 1,
                                        inverseColors: false,
                                        opacityFrom: 0.5,
                                        opacityTo: 0,
                                        stops: [0, 90, 100]
                                    },
                                },
                                stroke: {
                                    width: 1 // Define el grosor de la línea
                                },
                                yaxis: {
                                    labels: {
                                        formatter: function (val) {
                                            return val.toFixed(0); // Muestra los valores en el eje Y
                                        },
                                    },
                                    title: {
                                        text: 'Demanda Energética'
                                    },
                                },
                                xaxis: {
                                    type: 'datetime',
                                    labels: {
                                        formatter: function (value) {
                                            var date = new Date(value);
                                            return date.toLocaleDateString(); 
                                        }
                                    }
                                },
                                tooltip: {
                                    shared: false,
                                    y: {
                                        formatter: function (val) {
                                            return val.toFixed(0) ; // Muestra los valores en el tooltip
                                        }
                                    },
                                    x: {
                                        formatter: function (val) {
                                            return new Date(val).toLocaleString(); // Muestra la fecha y hora en el tooltip
                                        }
                                    }
                                }
                            };
                    
                            // Crear y renderizar el gráfico
                            var chart = new ApexCharts(document.querySelector("#chart"), options);
                            chart.render();
                        });
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Obtener los datos de la tabla y convertirlos en arrays de objetos
                            var dates = [];
                            var excedenteData = [];
                            var consumoData = [];
                            var perdidaData = [];
                            
                            document.querySelectorAll('#tabla tbody tr').forEach(function(row, index) {
                                var timeElement = row.querySelector('.time');
                                var excedenteElement = row.querySelector('.excedente');
                                var consumoElement = row.querySelector('.consumo');
                                var perdidaElement = row.querySelector('.perdida');
                                
                                if (timeElement && excedenteElement && consumoElement && perdidaElement) {
                                    var timeText = timeElement.innerText;
                                    var time = new Date(timeText).getTime();
                    
                                    var excedente = parseFloat(excedenteElement.innerText.replace(/,/g, ''));
                                    var consumo = parseFloat(consumoElement.innerText.replace(/,/g, ''));
                                    var perdida = parseFloat(perdidaElement.innerText.replace(/,/g, ''));
                                    
                                    if (!isNaN(time) && !isNaN(excedente) && !isNaN(consumo) && !isNaN(perdida)) {
                                        dates.push(time);
                                        excedenteData.push({ x: time, y: excedente });
                                        consumoData.push({ x: time, y: consumo });
                                        perdidaData.push({ x: time, y: perdida });
                                    } 
                                } 
                            });
                    
                            console.log(excedenteData); // Verificar los datos extraídos
                            console.log(consumoData); // Verificar los datos extraídos
                            console.log(perdidaData); // Verificar los datos extraídos
                    
                            // Configuración del gráfico
                            var options = {
                                series: [
                                    {
                                        name: 'Excedente',
                                        data: excedenteData
                                    },
                                    {
                                        name: 'Consumo',
                                        data: consumoData
                                    },
                                    {
                                        name: 'Energia Perdida',
                                        data: perdidaData
                                    }
                                ],
                                chart: {
                                    type: 'line',
                                    height: 300,
                                    zoom: {
                                        type: 'x',
                                        enabled: true,
                                        autoScaleYaxis: true
                                    },
                                    toolbar: {                                
                                        export: {
                                            csv: {
                                                filename: 'analisis_demanda',
                                                columnDelimiter: ',',
                                                headerCategory: 'Fecha',
                                                headerValue: 'Valor',
                                                categoryFormatter(x) {
                                                    // Formatear solo la fecha para la exportación CSV
                                                    return new Date(x).toLocaleDateString();
                                                }
                                            }
                                        },
                                        autoSelected: 'zoom'
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                markers: {
                                    size: 0,
                                },
                                title: {
                                    text: 'Datos Energéticos',
                                    align: 'left'
                                },
                                fill: {
                                    type: 'solid',
                                    gradient: {
                                        shadeIntensity: 1,
                                        inverseColors: false,
                                        opacityFrom: 0.5,
                                        opacityTo: 0,
                                        stops: [0, 90, 100]
                                    },
                                },
                                stroke: {
                                    width: 1 // Define el grosor de la línea
                                },
                                yaxis: {
                                    labels: {
                                        formatter: function (val) {
                                            return val.toFixed(0); // Muestra los valores en el eje Y
                                        },
                                    },
                                    title: {
                                        text: 'Valores'
                                    },
                                },
                                xaxis: {
                                    type: 'datetime'
                                },
                                tooltip: {
                                    shared: false,
                                    y: {
                                        formatter: function (val) {
                                            return val.toFixed(0) + ' unidades'; // Muestra los valores en el tooltip
                                        }
                                    }
                                }
                            };
                    
                            // Crear y renderizar el gráfico
                            var chart = new ApexCharts(document.querySelector("#chart1"), options);
                            chart.render();
                        });
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Obtener los datos de la tabla y convertirlos en arrays de objetos
                            var nombres = [];
                            var consumoDiaWData = [];
                            var consumoDiaKWData = [];
                            var consumoMesKWData = [];
                            var pagoData = [];
                            
                            document.querySelectorAll('.table tbody tr').forEach(function(row, index) {
                                var nombreElement = row.querySelector('.promedio_nombres');
                                var consumoDiaWElement = row.querySelector('.promedio_dia_w');
                                var consumoDiaKWElement = row.querySelector('.promedio_dia_kw');
                                var consumoMesKWElement = row.querySelector('.promedio_mes_kw');
                                var pagoElement = row.querySelector('.promedio_pago');
                                
                                if (nombreElement && consumoDiaWElement && consumoDiaKWElement && consumoMesKWElement && pagoElement) {
                                    var nombre = nombreElement.innerText;
                                    var consumoDiaW = parseFloat(consumoDiaWElement.innerText.replace(/,/g, ''));
                                    var consumoDiaKW = parseFloat(consumoDiaKWElement.innerText.replace(/,/g, ''));
                                    var consumoMesKW = parseFloat(consumoMesKWElement.innerText.replace(/,/g, ''));
                                    var pago = parseFloat(pagoElement.innerText.replace(/,/g, ''));
                                    
                                    if (!isNaN(consumoDiaW) && !isNaN(consumoDiaKW) && !isNaN(consumoMesKW) && !isNaN(pago)) {
                                        nombres.push(nombre);
                                        consumoDiaWData.push(consumoDiaW);
                                        consumoDiaKWData.push(consumoDiaKW);
                                        consumoMesKWData.push(consumoMesKW);
                                        pagoData.push(pago);
                                    }
                                }
                            });
                    
                            console.log(consumoDiaWData); // Verificar los datos extraídos
                            console.log(consumoDiaKWData); // Verificar los datos extraídos
                            console.log(consumoMesKWData); // Verificar los datos extraídos
                            console.log(pagoData); // Verificar los datos extraídos
                    
                            // Configuración del gráfico
                            var options = {
                                series: [
                                    {
                                        name: 'Consumo (W)/día',
                                        data: consumoDiaWData
                                    },
                                    {
                                        name: 'Consumo (KW)/día',
                                        data: consumoDiaKWData
                                    },
                                    {
                                        name: 'Consumo (KW)/mes',
                                        data: consumoMesKWData
                                    },
                                    {
                                        name: 'Pago ($)',
                                        data: pagoData
                                    }
                                ],
                                chart: {
                                    type: 'bar',
                                    height: 300,
                                    stacked: true,
                                    toolbar: {
                                        show: true,
                                        export:{
                                            csv: {
                                                filename: 'Promedio',
                                            }
                                        }
                                    },
                                    zoom: {
                                        enabled: true
                                    }
                                },
                                plotOptions: {
                                    bar: {
                                        horizontal: false,
                                        dataLabels: {
                                            position: 'top'
                                        }
                                    }
                                },
                                dataLabels: {
                                    enabled: true,
                                    offsetX: -6,
                                    style: {
                                        fontSize: '12px',
                                        colors: ['#304758']
                                    }
                                },
                                stroke: {
                                    show: true,
                                    width: 1,
                                    colors: ['#fff']
                                },
                                xaxis: {
                                    categories: nombres,
                                },
                                yaxis: {
                                    labels: {
                                        formatter: function (val) {
                                            return val.toFixed(0); // Muestra los valores en el eje Y
                                        },
                                    },
                                    title: {
                                        text: 'Valores'
                                    },
                                },
                                tooltip: {
                                    shared: true,
                                    intersect: false,
                                    y: {
                                        formatter: function (val) {
                                            return val.toFixed(2) + ' unidades'; // Muestra los valores en el tooltip
                                        }
                                    }
                                },
                                fill: {
                                    opacity: 1
                                },
                                legend: {
                                    position: 'top',
                                    horizontalAlign: 'left',
                                    offsetX: 40
                                }
                            };
                    
                            // Crear y renderizar el gráfico
                            var chart = new ApexCharts(document.querySelector("#chart2"), options);
                            chart.render();
                        });
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            // Obtener los datos de la tabla y convertirlos en arrays de objetos
                            var nombres = [];
                            var consumoDiaWData = [];
                            var consumoMesKWData = [];
                            var pagoData = [];
                            
                            document.querySelectorAll('.table tbody tr').forEach(function(row, index) {
                                var nombreElement = row.querySelector('.nombres');
                                var consumoDiaWElement = row.querySelector('.consumo_dia_w');
                                var consumoMesKWElement = row.querySelector('.consumo_mes_kw');
                                var pagoElement = row.querySelector('.pago');
                                
                                if (nombreElement && consumoDiaWElement && consumoMesKWElement && pagoElement) {
                                    var nombre = nombreElement.innerText;
                                    var consumoDiaW = parseFloat(consumoDiaWElement.innerText.replace(/,/g, ''));
                                    var consumoMesKW = parseFloat(consumoMesKWElement.innerText.replace(/,/g, ''));
                                    var pago = parseFloat(pagoElement.innerText.replace(/,/g, ''));
                                    
                                    if (!isNaN(consumoDiaW) && !isNaN(consumoMesKW) && !isNaN(pago)) {
                                        nombres.push(nombre);
                                        consumoDiaWData.push(consumoDiaW);
                                        consumoMesKWData.push(consumoMesKW);
                                        pagoData.push(pago);
                                    }
                                }
                            });
                    
                            console.log(consumoDiaWData); // Verificar los datos extraídos
                            console.log(consumoMesKWData); // Verificar los datos extraídos
                            console.log(pagoData); // Verificar los datos extraídos
                    
                            // Configuración del gráfico
                            var options = {
                                series: [
                                    {
                                        name: 'Consumo (W)/día',
                                        data: consumoDiaWData
                                    },
                                    {
                                        name: 'Consumo (KW)/mes',
                                        data: consumoMesKWData
                                    },
                                    {
                                        name: 'Pago ($)',
                                        data: pagoData
                                    }
                                ],
                                chart: {
                                    type: 'bar',
                                    height: 300,
                                    stacked: true,
                                    toolbar: {
                                        show: true,
                                        export:{
                                            csv: {
                                                filename: 'Consumo Neto',
                                            }
                                        }
                                    },
                                    zoom: {
                                        enabled: true
                                    }
                                },
                                plotOptions: {
                                    bar: {
                                        horizontal: false,
                                        dataLabels: {
                                            position: 'top'
                                        }
                                    }
                                },
                                dataLabels: {
                                    enabled: true,
                                    offsetX: -6,
                                    style: {
                                        fontSize: '12px',
                                        colors: ['#304758']
                                    }
                                },
                                stroke: {
                                    show: true,
                                    width: 1,
                                    colors: ['#fff']
                                },
                                xaxis: {
                                    categories: nombres,
                                },
                                yaxis: {
                                    labels: {
                                        formatter: function (val) {
                                            return val.toFixed(0); // Muestra los valores en el eje Y
                                        },
                                    },
                                    title: {
                                        text: 'Valores'
                                    },
                                },
                                tooltip: {
                                    shared: true,
                                    intersect: false,
                                    y: {
                                        formatter: function (val) {
                                            return val.toFixed(2) + ' unidades'; // Muestra los valores en el tooltip
                                        }
                                    }
                                },
                                fill: {
                                    opacity: 1
                                },
                                legend: {
                                    position: 'top',
                                    horizontalAlign: 'left',
                                    offsetX: 40
                                }
                            };
                    
                            // Crear y renderizar el gráfico
                            var chart = new ApexCharts(document.querySelector("#chart3"), options);
                            chart.render();
                        });
                    </script>
                </div>
            </main> 
        </div> 
    </section>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</body>