<script>
    var lastData = null;
    var table;

    $(function() {
        // Inicializa DataTable y guarda la referencia
        table = $('#tablaG').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "order": [
                [0, "desc"]
            ]
        });
    });

    function updateTable() {
        $.ajax({
            url: '/get_latest_irradiance_data',
            type: 'GET',
            success: function(data) {
                if (data && !areObjectsEqual(data, lastData)) {
                    if (lastData === null) {
                        lastData = data; // Actualiza lastData
                    } else {
                        // Actualiza la DataTable con los nuevos datos
                        data.forEach(function(item) {
                            var newRow = [item.created_at, item.prom_irr, item.max_irr];
                            table.row.add(newRow).draw(false);
                        });
                        lastData = data; // Actualiza lastData
                    }
                }
            }
        });
    }

    function areObjectsEqual(obj1, obj2) {
        // Compara los objetos para verificar si son iguales
        return JSON.stringify(obj1) === JSON.stringify(obj2);
    }

    // Llama a la función updateTable periódicamente
    setInterval(updateTable, 10000); // Configura el intervalo para que coincida con la frecuencia de actualización de tus datos
</script>
<div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;">
    <div class="card-body" style="overflow-x: auto;">
        <h3>Datos de Irradiancia - Davis</h3>
        {% if db_irr is not none %}
        <table id="tablaG" class="table table-responsive ">
            <thead>
                <tr>
                    <th style="width: 12rem;">Fecha y Hora</th>
                    <th>Radiacion (W/m²)</th>
                    <th>Radiacion Alta (W/m²)</th>
                </tr>
            </thead>
            <tbody>
                {% for db_irr in db_irr %}
                <tr>
                    <td class="time_irradiance">{{db_irr[2]}}</td>
                    <td class="avg_irradiance">{{db_irr[0]}}</td>
                    <td class="highest_irradiance">{{db_irr[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <p class="text-danger ">Error: No se encontraron datos de irradiancia.</p>
        {% endif %}

    </div>
</div>
<div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;" >
    <div id="myChart" ></div>
    <button id="exportCSVG" class="btn btn-secondary mt-3" style="opacity: 0.5;">Exportar a CSV</button>
</div>
<script>
    // Obtener los datos de la tabla y convertirlos en arrays de objetos
    var dates = [];
    var radiancionData = [];
    var radiacionAltaData = [];
    
    document.querySelectorAll('#tablaG tbody tr').forEach(function(row, index) {
        var timeElement = row.querySelector('.time_irradiance');
        var radiancionElement = row.querySelector('.avg_irradiance');
        var radiacionAltaElement = row.querySelector('.highest_irradiance');
        
        if (timeElement && radiancionElement && radiacionAltaElement ) {
            var timeText = timeElement.innerText;
            var time = new Date(timeText).getTime();

            var radiancion = parseFloat(radiancionElement.innerText.replace(/,/g, ''));
            var radiacionAlta = parseFloat(radiacionAltaElement.innerText.replace(/,/g, ''));
            
            if (!isNaN(time) && !isNaN(radiancion) && !isNaN(radiacionAlta) ) {
                dates.push(time);
                radiancionData.push({ x: time, y: radiancion });
                radiacionAltaData.push({ x: time, y: radiacionAlta });
            } 
        } 
    });

    console.log(radiancionData); // Verificar los datos extraídos
    console.log(radiacionAltaData); // Verificar los datos extraídos

    // Configuración del gráfico
    var options = {
        series: [
            {
                name: 'Radiacion',
                data: radiancionData
            },
            {
                name: 'Radiacion Alta',
                data: radiacionAltaData
            }
        ],
        chart: {
            type: 'line',
            height: 300,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom',
                export: {
                    csv: {
                        filename: 'datos_irradiancia',
                        columnDelimiter: ',',
                        headerCategory: 'Fecha y Hora',
                        headerValue: 'Valor',
                        categoryFormatter(x) {
                            // Formatear la fecha y hora para la exportación CSV
                            return new Date(x).toLocaleDateString() + ' ' + new Date(x).toLocaleTimeString();
                        },
                        valueFormatter(y) {
                            return y.toFixed(2); // Ajusta el formato del valor si es necesario
                        }
                    },
                    svg: {
                        filename: undefined,
                    },
                    png: {
                        filename: undefined,
                    }
                },
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        title: {
            text: 'Datos Irradiancia',
            align: 'left'
        },
        fill: {
            type: 'solid',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        stroke: {
            width: 1 // Define el grosor de la línea
        },
        yaxis: {
            labels: {
                formatter: function (val) {
                    return val.toFixed(0); // Muestra los valores en el eje Y
                },
            },
            title: {
                text: 'G'
            },
        },
        xaxis: {
            type: 'datetime',
            labels: {
                formatter: function (value) {
                    var date = new Date(value);
                    return date.toLocaleDateString(); 
                }
            }
        },
        tooltip: {
            shared: false,
            y: {
                formatter: function (val) {
                    return val.toFixed(0) + ' W/m²'; // Muestra los valores en el tooltip
                }
            },
            x: {
                formatter: function (val) {
                    return new Date(val).toLocaleString(); // Muestra la fecha y hora en el tooltip
                }
            }
        }
    };

    // Crear y renderizar el gráfico
    var chart = new ApexCharts(document.querySelector("#myChart"), options);
    chart.render();

    document.getElementById("exportCSVG").addEventListener("click", function () {
        // Variable para almacenar el contenido del CSV
        let csvContent = "data:text/csv;charset=utf-8,";

        // Encabezados del CSV
        csvContent += "Fecha y Hora,Radiacion,Radiacion Alta\n";

        // Exportar los datos de las series de la gráfica (radiancionData y radiacionAltaData)
        radiancionData.forEach(function (item, index) {
            // Usamos los mismos valores de la serie del gráfico
            const time = new Date(item.x).toLocaleDateString() + ' ' + new Date(item.x).toLocaleTimeString(); // Formatear la fecha
            const radiacion = item.y.toFixed(2);  // Ajuste de los valores numéricos
            const radiacionAlta = radiacionAltaData[index] ? radiacionAltaData[index].y.toFixed(2) : '';  // Aseguramos que haya datos para 'Radiación Alta'

            // Añadir la fila al CSV
            csvContent += `${time},${radiacion},${radiacionAlta}\n`;
        });

        // Crear un enlace para descargar el CSV
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "datos_irradiancia_completos.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });


</script> 