{% block head %} {% include 'layouts/head.html' %} {% endblock %}


<body  class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="container-fluid">  
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-3  bg-body-tertiary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasRightLabel" style="margin-bottom: 2rem;color:#13447c;font-size: 22px;"><b>Irradiancia (W/m²)</b>
                        <span class="badge bg-info-subtle text-info-emphasis rounded-pill"> <span class="small"><a class="tooltip_btn nav-span nav-link" href="/irradiance_display" 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Ingresar a datos actuales.">Actuales</a></span></span>                        
                    </h4>                    
                </div>
                <div class="offcanvas-body"> 
                    <label for="end_date" class="form-label" style="margin-bottom: 1rem;"><b>BUSCAR DATOS G</b></label>                   
                    <form id="irradiance-form" action="/irradiance_display" method="post" >
                        <label for="start_date" class="form-label"><b>Fecha Inicio</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar3"></i></span>
                            <input type="date" class="form-control form-control-sm" id="start_date" name="start_date" required>
                        </div> 
                        <label for="end_date" class="form-label"><b>Fecha Final</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar3"></i></span>
                            <input type="date" class="form-control form-control-sm" id="end_date" name="end_date" required>
                        </div>                           
                        <button type="submit" class="tooltip_btn btn btn-primary mt-2" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Asegurate de buscar los dias correctamente.">Buscar</button>
                    </form>
                    <hr class="border border-dark border-1 opacity-75">
                    <label for="end_date" class="form-label" style="margin-bottom: 1rem;"><b>GENERAR PREDICCION</b></label>
                    <a class="btn btn-primary"  href="/irradiance_prediction" >Generar</a>                  
                </div>
            </div>             
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container" data-aos="fade-up">
                    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;">
                        <div class="col ms-sm-auto">
                            
                            {% if prediction_g and prediction_g == 1 %}
                                {% block prediction_g %} {% include 'informe_y_Estadistica/prediction_g.html' %} {% endblock %}                              
                            {% else %} 
                                {% block date_davis_table %} {% include 'informe_y_Estadistica/date_davis_table.html' %} {% endblock %}                             
                            {% endif %}
                        </div>
                        
                    </div>                  
                    
                </div>
            </main>
        </div>
    </section>   

    <script src="https://cdn.jsdelivr.net/npm/apexcharts "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</body>