<div class="modal fade" id="modalInversor" tabindex="-1" role="dialog" aria-labelledby="agregarInversorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crea un inversor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="inversor-form" method="POST" action="/add_inversor">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="ref_inv">Referencia del Inversor:</label>
                        <input type="text" class="form-control" id="ref_inv" name="ref_inv" maxlength="100" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="idu_inv">Identificacion Codigo Universidad:</label>
                        <input type="text" class="form-control" id="idu_inv" name="idu_inv" pattern="[0-9]*" inputmode="numeric" minlength="9" maxlength="9" required>
                    </div>
                    <label for="ent_inv">Número de entradas:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">#</span>
                        <input type="number" class="form-control" id="ent_inv" aria-describedby="basic-addon1" min="1" max="6" name="ent_inv" step="1" required>
                    </div>
                    <label for="pmax_inv">Potencia Máxima (Pmax):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="pmax_inv" aria-describedby="basic-addon2" min="1" max="9999" name="pmax_inv" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">W</span>
                    </div>
                    <label for="vme_inv">Voltaje Máxima de Entrada (Vme):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="vme_inv" aria-describedby="basic-addon2" min="0.1" max="9999" name="vme_inv" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">V</span>
                    </div>
                    <label for="ime_inv">Corriente Máxima de Entrada (Ime):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="ime_inv" aria-describedby="basic-addon2" min="0.1" max="9999" name="ime_inv" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">A</span>
                    </div>
                    <label for="vsa_inv">Voltaje Salida (Vout):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="vsa_inv" aria-describedby="basic-addon2" min="110" max="220" maxlength="5" name="vsa_inv" value="110" required>
                        <span class="input-group-text" id="basic-addon2">V</span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="ond_inv">Tipo de Onda:</label>
                        <select class="form-control" id="ond_inv" name="ond_inv" required>
                            <option value="" disabled selected>Selecciona si es onda pura</option>
                            <option value="Pura">Pura</option>
                            <option value="No Pura">No Pura</option>
                        </select>
                    </div>                    
                    <label for="efi_inv">Eficiencia:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="efi_inv" max="100" min="1" name="efi_inv" step="1" required>
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="reg_inv">Regulador Integrado:</label>
                        <select class="form-control" id="reg_inv" name="reg_inv" required>
                            <option value="" disabled selected>Selecciona si es onda pura</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div> 
                    <div id="alertContainer" style="margin-top:2rem"></div>
                </div>
                <script>
                    //alerta danger panel
                    $(document).ready(function() {
                        $('#inversor-form').submit(function(e) {
                            e.preventDefault();

                            $.ajax({
                                type: 'POST',
                                url: $(this).attr('action'),
                                data: $(this).serialize(),
                                success: function(response) {
                                    if (response === 'success') {
                                        // Éxito: redirigir a la página de inicio de sesión
                                        $('#alertContainer').html('<div class="alert alert-success">Inversor se ha creado exitosamente.</div>');
                                    } else if (response === 'exist') {
                                        // Los datos ya existen: mostrar alerta
                                        $('#alertContainer').html('<div class="alert alert-danger">El inversor que intentas agregar ya existe.</div>');
                                    } else if (response === 'error') {
                                        // Los datos ya existen: mostrar alerta
                                        $('#alertContainer').html('<div class="alert alert-danger">El inversor no cumple con el margen de error.</div>');
                                    }
                                },
                                error: function() {
                                    // Error en la solicitud AJAX
                                    $('#alertContainer').html('<div class="alert alert-danger">Error en la solicitud.</div>');
                                }
                            });
                        });
                    });
                </script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>