<div class="modal fade" id="modalBateria" tabindex="-1" role="dialog" aria-labelledby="agregarInversorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crea una bateria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="bateria-form" method="POST" action="/add_bateria">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="ref_bat">Referencia de la Bateria:</label>
                        <input type="text" class="form-control" id="ref_bat" name="ref_bat" maxlength="100" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="idu_bat">Identificacion Codigo Universidad:</label>
                        <input type="text" class="form-control" id="idu_bat" name="idu_bat" pattern="[0-9]*" inputmode="numeric" minlength="9" maxlength="9" required>
                    </div>
                    <label for="vol_bat">Voltaje Bateria (V):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="vol_bat" aria-describedby="basic-addon2" min="0.1" max="9999" name="vol_bat" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">V</span>
                    </div>
                    <label for="cap_bat">Capacidad Bateria (Ah):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="cap_bat" aria-describedby="basic-addon2" min="0.1" max="9999" name="cap_bat" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">Ah</span>
                    </div>                    
                    <div id="alertContainer" style="margin-top:2rem"></div>
                </div>
                <script>
                    //alerta danger panel
                    $(document).ready(function() {
                        $('#bateria-form').submit(function(e) {
                            e.preventDefault();

                            $.ajax({
                                type: 'POST',
                                url: $(this).attr('action'),
                                data: $(this).serialize(),
                                success: function(response) {
                                    if (response === 'success') {
                                        // Éxito: redirigir a la página de inicio de sesión
                                        $('#alertContainer').html('<div class="alert alert-success">Bateria se ha creado exitosamente.</div>');
                                    } else if (response === 'exist') {
                                        // Los datos ya existen: mostrar alerta
                                        $('#alertContainer').html('<div class="alert alert-danger">El bateria que intentas agregar ya existe.</div>');
                                    } 
                                },
                                error: function() {
                                    // Error en la solicitud AJAX
                                    $('#alertContainer').html('<div class="alert alert-danger">Error en la solicitud.</div>');
                                }
                            });
                        });
                    });
                </script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>