<div class="modal fade" id="modalPanel" tabindex="-1" role="dialog" aria-labelledby="agregarInversorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crea un panel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="panel-form" method="POST" action="/add_panel">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ref_pan">Referencia del Panel:</label>
                        <input type="text" class="form-control" id="ref_pan" name="ref_pan" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label for="idu_pan">Identificacion Codigo Universidad:</label>
                        <input type="text" class="form-control" id="idu_pan" name="idu_pan" pattern="[0-9]*" inputmode="numeric" minlength="9" maxlength="9" required>
                    </div>
                    <label for="pmax_pan">Potencia Máxima (Pmax):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="pmax_pan" aria-describedby="basic-addon2" min="1" max="999" name="pmax_pan" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">W</span>
                    </div>
                    <label for="vmp_pan">Voltaje Máxima (Vmp):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="vmp_pan" aria-describedby="basic-addon2" min="0.1" max="999" name="vmp_pan" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">V</span>
                    </div>
                    <label for="imp_pan">Corriente Máxima (Imp):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="imp_pan" aria-describedby="basic-addon2" min="0.1" max="999" name="imp_pan" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">A</span>
                    </div>
                    <label for="voc_pan">Voltaje Circuito Abierto (Voc):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="voc_pan" aria-describedby="basic-addon2" min="0.1" max="999" name="voc_pan" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">V</span>
                    </div>
                    <label for="isc_pan">Corriente Corto Circuito (Isc):</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="isc_pan" aria-describedby="basic-addon2" min="0.1" max="999" name="isc_pan" step="0.01" required>
                        <span class="input-group-text" id="basic-addon2">A</span>
                    </div>
                    <label for="lar_pan">Largo del panel :</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="lar_pan" aria-describedby="basic-addon2" min="0.001" max="9999" name="lar_pan" step="0.001" required>
                        <span class="input-group-text" id="basic-addon2">Mts</span>
                    </div>
                    <label for="anc_pan">Ancho del panel:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="anc_pan" aria-describedby="basic-addon2" min="0.001" max="9999" name="anc_pan" step="0.001" required>
                        <span class="input-group-text" id="basic-addon2">Mts</span>
                    </div>
                    <div class="form-group">
                        <label for="tec_pan">Tecnología del Panel:</label>
                        <select class="form-control" id="tec_pan" name="tec_pan" required>
                          <option value="" disabled selected>Selecciona una tecnología</option>
                          {% for tecno in tecno %}
                              <option value="{{ tecno[1]}}">{{ tecno[1] }}</option>
                          {% endfor %}
                          <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group" id="otraTecnologia" style="display: none;">
                        <label for="otra_tec_pan">Especifica la otra tecnología:</label>
                        <input type="text" class="form-control" id="otra_tec_pan" name="otra_tec_pan">
                        <button type="button" class="btn btn-secondary" style="margin-top: 1rem;" id="aceptarOtraTecnologia">Aceptar</button>
                    </div>
                    <label for="efi_pan" style="margin-top:2rem">Eficiencia del Panel:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="efi_pan" aria-describedby="basic-addon2" min="0.01" max="9999" step="0.001" name="efi_pan" required>
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                    <div id="alertContainer" style="margin-top:2rem"></div>
                </div>
                <script>
                    var tecPanSelect = document.getElementById('tec_pan');
                    var otraTecnologia = document.getElementById('otraTecnologia');
                    var otraTecnologiaInput = document.getElementById('otra_tec_pan');
                    var aceptarOtraTecnologiaButton = document.getElementById('aceptarOtraTecnologia');

                    tecPanSelect.addEventListener('change', function() {
                        if (this.value === 'Otro') {
                            otraTecnologia.style.display = 'block';
                        } else {
                            otraTecnologia.style.display = 'none';
                        }
                    });

                    aceptarOtraTecnologiaButton.addEventListener('click', function() {
                        var nuevaTecnologia = otraTecnologiaInput.value;
                        if (nuevaTecnologia.trim() !== '') {
                            tecPanSelect.innerHTML += '<option value="' + nuevaTecnologia + '">' + nuevaTecnologia + '</option>';
                            tecPanSelect.value = nuevaTecnologia;
                            otraTecnologia.style.display = 'none';
                        }
                    });

                    //alerta danger panel
                    $(document).ready(function() {
                        $('#panel-form').submit(function(e) {
                            e.preventDefault();

                            $.ajax({
                                type: 'POST',
                                url: $(this).attr('action'),
                                data: $(this).serialize(),
                                success: function(response) {
                                    if (response === 'success') {
                                        // Éxito: redirigir a la página de inicio de sesión
                                        $('#alertContainer').html('<div class="alert alert-success">Panel se ha creado exitosamente.</div>');
                                    } else if (response === 'exist') {
                                        // Los datos ya existen: mostrar alerta
                                        $('#alertContainer').html('<div class="alert alert-danger">El panel que intentas agregar ya existe.</div>');
                                    } else if (response === 'error') {
                                        // Los datos ya existen: mostrar alerta
                                        $('#alertContainer').html('<div class="alert alert-danger">El panel no cumple con el margen de error.</div>');
                                    }
                                },
                                error: function() {
                                    // Error en la solicitud AJAX
                                    $('#alertContainer').html('<div class="alert alert-danger">Error en la solicitud.</div>');
                                }
                            });
                        });
                    });
                </script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>