{% block head %} {% include 'layouts/head.html' %} {% endblock %}
<script>
    $(function() {
        $('#tabla').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
<div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 80vh;">
    <div class="card-body" style="overflow-x: auto;">
        <h5 class="title-components " style="margin-bottom: 3rem;"><b> BATERIAS AGREGADOS </b></h5>
        {% if success=="1" %}
        <div id="successMessage" class="alert alert-success">Los datos de la bateria se han guardado exitosamente.</div>
        {% endif %}
        <script>
            // Función para ocultar el mensaje de éxito después de 5 segundos
            setTimeout(function() {
                document.getElementById("successMessage").style.display = "none";
            }, 5000); // 5000 milisegundos (5 segundos)
        </script>
        <table id="tabla" class="table table-responsive">
            <thead>
                <tr>
                    <th>Identificacion Inventario</th>
                    <th>Referencia de la Bateria</th>
                    <th>Voltaje Bateria (V)</th>
                    <th>Capacidad Bateria(Ah)</th>
                    <th>Energia Bateria(Wh)</th>
                    <th>Estado de la Bateria</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {%for bateria in bat_usu%}
                <tr>
                    <td>{{bateria[6]}}</td>
                    <td>{{bateria[1]}}</td>
                    <td>{{bateria[2]}}</td>
                    <td>{{bateria[3]}}</td>
                    <td>{{bateria[4]}}</td>
                    {% if bateria[7] == true %}
                        <td>Habilitado</td>
                    {% else %}
                        <td>Deshabilitado</td>
                    {% endif %}
                    <td><button type="button" style="color: rgb(47, 133, 204);" id="edit{{bateria[0]}}" class="btn icon" data-bs-toggle="modal" data-bs-target="#editar_bateria_{{bateria[0]}}"><i class="bi bi-pencil-square"></i></button></td>
                </tr>                    
                <div class="modal fade" id="editar_bateria_{{bateria[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea editar esta bateria?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST" action="/update_bateria_save">
                                <div class="modal-body">
                                    <input type="hidden" id="id_bat" name="id_bat" value="{{bateria[0]}}">
                                    <div class="form-group mb-3">
                                        <label for="ref_bat">Referencia de la Bateria:</label>
                                        <input type="text" class="form-control" id="ref_bat" name="ref_bat" maxlength="100" value="{{bateria[1]}}" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="idu_bat">Identificacion Codigo Universidad:</label>
                                        <input type="text" class="form-control" id="idu_bat" name="idu_bat" pattern="[0-9]*" inputmode="numeric" maxlength="9" value="{{bateria[6]}}" disabled>
                                    </div>
                                    <label for="vol_bat">Voltaje Bateria (V):</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="vol_bat" aria-describedby="basic-addon2" min="0.1" max="9999" name="vol_bat" step="0.01" value="{{bateria[2]}}" required>
                                        <span class="input-group-text" id="basic-addon2">V</span>
                                    </div>
                                    <label for="cap_bat">Capacidad Bateria (Ah):</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="cap_bat" aria-describedby="basic-addon2" min="0.1" max="9999" name="cap_bat" step="0.01" value="{{bateria[3]}}" required>
                                        <span class="input-group-text" id="basic-addon2">Ah</span>
                                    </div>                                        
                                    <div class="form-group" style="margin-top: 1rem;">
                                        <label for="est_bat">Estado de la Bateria:</label>
                                        <select class="form-control" id="est_bat" name="est_bat" required>                                              
                                            {% if bateria[7] == true %}
                                                <option value="{{ bateria[7] }}" selected>Habilitado</option>
                                            {% else %}
                                                <option value="{{ bateria[7] }}" selected>Deshabilitado</option>
                                            {% endif %}
                                            <option value="True">Habilitado</option>
                                            <option value="False">Deshabilitado</option>
                                        </select>
                                    </div>
                                    <div class="form-text" id="basic-addon4">Si el componente no se encuentra en ningún proyecto, será eliminado si es deshabilitado.</div>
                                    <div id="alerta"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary" id="guardarPanel">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-primary" style="width: 20rem;" id="modal_bateria" href="/ver_modal_bateria" data-toggle="modal" data-target="#modalBateria" title="Agrega una bateria">Crear Batería</a>