{% block head %} {% include 'layouts/head.html' %} {% endblock %}
<script>
    $(function() {
        $('#tabla').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
<div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem;height: 80vh;">
    <div class="card-body" style="overflow-x: auto;">
        <h5 class="title-components " style="margin-bottom: 3rem;"><b> REGULADORES AGREGADOS </b></h5>
        {% if success=="1" %}
        <div id="successMessage" class="alert alert-success">Los datos del regulador se han guardado exitosamente.</div>
        {% elif error=="2" %}
        <div id="errorMessage" class="alert alert-danger">Los datos del regulador no se han podido guardar, revisa el margen de error.</div>
        {% endif %}
        <script>
            // Función para ocultar el mensaje de éxito después de 5 segundos
            setTimeout(function() {
                document.getElementById("successMessage").style.display = "none";
            }, 5000); // 5000 milisegundos (5 segundos)
            // Función para ocultar el mensaje de error después de 5 segundos
            setTimeout(function() {
                document.getElementById("errorMessage").style.display = "none";
            }, 5000); // 5000 milisegundos (5 segundos)
        </script>
        <table id="tabla" class="table table-responsive">
            <thead>
                <tr>
                    <th>Identificacion Inventario</th>
                    <th>Referencia de la Regulador</th>
                    <th>Voltaje Regulador (V)</th>
                    <th>Corriente Regulador(I)</th>
                    <th>Potencia Regulador(W)</th>
                    <th>Estado de la Regulador</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {%for regulador in reg_usu%}
                <tr>
                    <td>{{regulador[6]}}</td>
                    <td>{{regulador[1]}}</td>
                    <td>{{regulador[3]}}</td>
                    <td>{{regulador[4]}}</td>
                    <td>{{regulador[2]}}</td>
                    {% if regulador[7] == true %}
                        <td>Habilitado</td>
                    {% else %}
                        <td>Deshabilitado</td>
                    {% endif %}
                    <td><button type="button" style="color: rgb(47, 133, 204);" id="edit{{regulador[0]}}" class="btn icon" data-bs-toggle="modal" data-bs-target="#editar_regulador_{{regulador[0]}}"><i class="bi bi-pencil-square"></i></button></td>
                </tr>                    
                <div class="modal fade" id="editar_regulador_{{regulador[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea editar esta regulador?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST" action="/update_regulador_save">
                                <div class="modal-body">
                                    <input type="hidden" id="id_reg" name="id_reg" value="{{regulador[0]}}">
                                    <div class="form-group mb-3">
                                        <label for="ref_reg">Referencia de la Regulador:</label>
                                        <input type="text" class="form-control" id="ref_reg" name="ref_reg" maxlength="100" value="{{regulador[1]}}" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="idu_reg">Identificacion Codigo Universidad:</label>
                                        <input type="text" class="form-control" id="idu_reg" name="idu_reg" pattern="[0-9]*" inputmode="numeric" minlength="9" maxlength="9" value="{{regulador[6]}}" required>
                                    </div>
                                    <label for="pot_reg">Potencia Regulador (W):</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="pot_reg" aria-describedby="basic-addon2" min="0.1" max="9999" name="pot_reg" step="0.01" value="{{regulador[2]}}" required>
                                        <span class="input-group-text" id="basic-addon2">W</span>
                                    </div>
                                    <label for="vol_reg">Voltaje Regulador (V):</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="vol_reg" aria-describedby="basic-addon2" min="0.1" max="9999" name="vol_reg" step="0.01" value="{{regulador[3]}}" required>
                                        <span class="input-group-text" id="basic-addon2">V</span>
                                    </div>
                                    <label for="cor_reg">Corriente Regulador (I):</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="cor_reg" aria-describedby="basic-addon2" min="0.1" max="9999" name="cor_reg" step="0.01" value="{{regulador[4]}}" required>
                                        <span class="input-group-text" id="basic-addon2">I</span>
                                    </div>                    
                                    <div class="form-group" style="margin-top: 1rem;">
                                        <label for="est_reg">Estado de la Regulador:</label>
                                        <select class="form-control" id="est_reg" name="est_reg" required>                                              
                                            {% if regulador[7] == true %}
                                                <option value="{{ regulador[7] }}" selected>Habilitado</option>
                                            {% else %}
                                                <option value="{{ regulador[7] }}" selected>Deshabilitado</option>
                                            {% endif %}
                                            <option value="True">Habilitado</option>
                                            <option value="False">Deshabilitado</option>
                                        </select>
                                    </div>
                                    <div class="form-text" id="basic-addon4">Si el componente no se encuentra en ningún proyecto, será eliminado si es deshabilitado.</div>
                                    <div id="alerta"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary" id="guardarPanel">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-primary" style="width: 20rem;" id="modal_regulador" href="/ver_modal_regulador" data-toggle="modal" data-target="#modalRegulador" title="Agrega una regulador">Crear Batería</a>