<div class="modal fade"  id="delTan" tabindex="-1" role="dialog" aria-labelledby="ProjectDelTanqueModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estas seguro de eliminar este tanque del proyecto?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class='modal-footer'>
                <a href="/hidrica/ver_modal_del_tan?id_tan_del={{ tan[0] }}&id_pro={{ tan[1] }}" class='btn btn-danger'>Eliminar</a>
                <button type='button' class='btn btn btn-secondary' data-bs-dismiss='modal' aria-label='Close' title='Cancelar Actualizacion'>Cancelar</button>
            </div>         
        </div>
    </div>
</div>