<script>
    var lastData = null;
    var table;
    var id_pro = '{{ pro_com[0] }}';

    $(document).ready(function() {
        // Inicializa DataTable y guarda la referencia
        table = $('#tablaP').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "order": [
                [0, "desc"]
            ]
        });

        // Inicia la actualización periódica de la tabla
        setInterval(updateTable, 10000); // Intervalo de actualización en milisegundos
    });
    function updateTable() {
        $.ajax({
            url: '/hidrica/get_latest_proyecto_data/' + id_pro,
            type: 'GET',
            success: function(data) {
                if (data && !areObjectsEqual(data, lastData)) {
                    data.forEach(function(item) {
                        // Verifica si el 'created_at' ya está en la tabla
                        if (!isRowInTable(item.created_at)) {
                            var newRow = [
                                item.created_at,   // Fecha y Hora
                                item.alt_ene,      // Altura
                                item.pre_ene,      // presion
                                item.cau_ene,        // Caudal
                                item.tot_ene,       // energia
                                item.vsal_ene,      // Corriente Salida
                                item.csal_ene,      // Voltaje DC salida
                                item.efi_ene      // Eficiencia Energia
                                
                            ];
                            table.row.add(newRow).draw(false); // Agrega la nueva fila
                        }
                    });
                    lastData = data; // Actualiza lastData
                }
            },
            error: function() {
                console.error("Error al obtener los datos.");
            }
        });
    }

    function areObjectsEqual(obj1, obj2) {
        // Compara los objetos para verificar si son iguales
        return JSON.stringify(obj1) === JSON.stringify(obj2);
    }

    function isRowInTable(createdAt) {
        // Recorre las filas de la tabla y verifica si 'created_at' ya existe
        var rows = table.rows().data().toArray();
        return rows.some(function(row) {
            return row[0] === createdAt; // Compara el campo 'Fecha y Hora'
        });
    }
    // 🔌 Función para obtener voltaje actual desde el backend
    async function obtenerVoltaje() {
        try {
            const res = await fetch('/api/voltaje_actual');
            const data = await res.json();
            document.getElementById('voltaje').textContent = data.voltaje.toFixed(1) + " V";
        } catch (error) {
            console.error("Error al obtener el voltaje:", error);
        }
    }
</script>

<div class="irradiancia-card-container">
    <div class="card custom-card shadow-lg mb-4">
        <div class="card-body" style="overflow-x: auto;">
            <h3>Sistema Hidrico Ejecutandose</h3>
            {% if result_proyect_ene is not none %}
            <table id="tablaP" class="table table-hover table-striped table-borderless">
                <thead>
                    <tr>
                        <th style="width: 12rem;">Fecha y Hora</th>
                        <th>Altura</th>
                        <th>Presion (Bar)</th>
                        <th>Caudal (Cm³/s)</th>
                        <th>Potencia Hidrica (W)</th>
                        <th>Voltaje DC</th>
                        <th>Corriente</th>
                        <th>Eficiencia Energia</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for eje_pro in result_proyect_ene %}
                    <tr>
                        <td class="time_irradiance">{{eje_pro[3]}}</td>
                        <td class="alt_ene">{{eje_pro[5]}}</td>
                        <td class="pre_ene">{{eje_pro[7]}}</td>
                        <td class="cau_ene">{{eje_pro[6]}}</td>
                        <td class="tot_ene">{{eje_pro[2]}}</td>
                        <td class="vsal_ene">{{eje_pro[8]}}</td>
                        <td class="csal_ene">{{eje_pro[9]}}</td>
                        <td class="efi_ene">{{eje_pro[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-danger">Error: No se encontraron datos de irradiancia.</p>
            {% endif %}
        </div>
        <!-- Formulario centrado -->
        <form id="irradiance-form" action="/hidrica/inicio_proyecto_hidrica?num_info=4&id_pro={{ pro_com[0] }}" method="post" class="d-flex justify-content-center" style="margin-top: 2rem;">
            <div class="d-flex align-items-end gap-3">
                <div class="row g-3">
                    <div class="col-12 col-md-auto">
                        <label for="start_date" class="form-label"><b>Fecha Inicio</b></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                            <input type="date" class="form-control form-control-sm" id="start_date" name="start_date" required>
                        </div>
                    </div>
                
                    <div class="col-12 col-md-auto">
                        <label for="end_date" class="form-label"><b>Fecha Final</b></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                            <input type="date" class="form-control form-control-sm" id="end_date" name="end_date" required>
                        </div>
                    </div>
                
                    <div class="col-12 col-md-auto d-flex align-items-end">
                        <button type="submit" class="tooltip_btn btn btn-primary w-100"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Asegurate de buscar los días correctamente.">Buscar</button>
                    </div>
                </div>                
            </div>
        </form>
        
    </div>

    <div class="card custom-card shadow-lg mb-4">
        <div class="card-body" style="overflow-x: auto;">
            <div id="myChartPro"></div>
            <button id="exportCSVButton" class="btn btn-export btn-secondary mt-3">⬇️ Exportar a CSV</button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var energiaData = []; // Almacenará la información completa

        document.querySelectorAll('#tablaP tbody tr').forEach(function(row) {
            var timeElement = row.querySelector('.time_irradiance');
            var EnergiaElement = row.querySelector('.tot_ene');
            var eficienciaElement = row.querySelector('.efi_ene');
            var alturaElement = row.querySelector('.alt_ene');
            var caudalElement = row.querySelector('.cau_ene');
            var presionElement = row.querySelector('.pre_ene');
            var voltajeElement = row.querySelector('.vsal_ene');
            var corrienteElement = row.querySelector('.csal_ene');

            if (
                timeElement && EnergiaElement && eficienciaElement &&
                alturaElement && caudalElement && presionElement &&
                voltajeElement && corrienteElement
            ) {
                var time = new Date(timeElement.innerText).getTime();

                var energia = parseFloat(EnergiaElement.innerText.replace(/,/g, ''));
                var eficiencia = parseFloat(eficienciaElement.innerText.replace(/,/g, ''));
                var altura = parseFloat(alturaElement.innerText.replace(/,/g, ''));
                var caudal = parseFloat(caudalElement.innerText.replace(/,/g, ''));
                var presion = parseFloat(presionElement.innerText.replace(/,/g, ''));
                var voltaje = parseFloat(voltajeElement.innerText.replace(/,/g, ''));
                var corriente = parseFloat(corrienteElement.innerText.replace(/,/g, ''));

                if (!isNaN(time) && !isNaN(energia) && !isNaN(eficiencia) &&
                    !isNaN(altura) && !isNaN(caudal) && !isNaN(presion) &&
                    !isNaN(voltaje) && !isNaN(corriente)) {
                        
                    energiaData.push({ 
                        x: time, 
                        y:energia, 
                        eficiencia,
                        altura,
                        caudal,
                        presion,
                        voltaje,
                        corriente
                    });
                }
            }
        });


        console.log(energiaData); // Verificar los datos extraídos

        // Función para exportar datos a CSV
        function exportToCSV(data, filename) {
            var csvContent = "data:text/csv;charset=utf-8,";

            // Encabezados completos
            csvContent += "Fecha y Hora,Energia Generada (Kw),Eficiencia (%),Altura (m),Caudal (m3/s),Presion (Pa),Voltaje (V),Corriente (A)\n";

            data.forEach(function(row) {
                csvContent += `${new Date(row.x).toLocaleDateString()} ${new Date(row.x).toLocaleTimeString()},` +
                            `${row.y.toFixed(3)},${row.eficiencia.toFixed(3)},${row.altura.toFixed(3)},` +
                            `${row.caudal.toFixed(5)},${row.presion.toFixed(3)},${row.voltaje.toFixed(3)},${row.corriente.toFixed(3)}\n`;
            });


            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }


        // Asociar el evento de clic al botón para exportar a CSV
        document.getElementById("exportCSVButton").addEventListener("click", function() {
            exportToCSV(energiaData, "energia_generada_completo.csv");
        });

        // Configuración del gráfico
        var options = {
            tooltip: {
                shared: false,
                custom: function({ series, seriesIndex, dataPointIndex, w }) {
                    var data = w.config.series[seriesIndex].data[dataPointIndex];
                    var date = new Date(data.x).toLocaleString();
                    
                    return `
                        <small><div class="card-header bg-secundary p-2 bg-opacity-55"">
                                ${date}
                            </div>
                        <div class="card-body">  
                            Detalles de Generación                          
                            <ul class="text-dark">
                                <li>Potencia Hidrica:<b> ${data.y.toFixed(3)} W</b></li>
                                <li>Eficiencia Energética:<b> ${data.eficiencia.toFixed(3)}%</b></li>
                                <li>Altura:<b> ${data.altura.toFixed(3)} m</b></li>
                                <li>Caudal:<b> ${data.caudal.toFixed(5)} cm³/s</b></li>
                                <li>Presion:<b> ${data.presion.toFixed(3)} Bar</b></li>
                                <li>Voltaje:<b> ${data.voltaje.toFixed(3)} V</b></li>
                                <li>Corriente:<b> ${data.corriente.toFixed(3)} A</b></li>
                            </ul>
                        </div></small>
                    `;
                },
                x: {
                    formatter: function (val) {
                        return new Date(val).toLocaleString();
                    }
                }
            },

            series: [
                {
                    name: 'Energía Generada',
                    data: energiaData
                }
            ],
            chart: {
                type: 'line',
                height: 300,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                toolbar: {
                    autoSelected: 'zoom',
                    export: {
                        csv: {
                            filename: 'energia_generada',
                            columnDelimiter: ',',
                            headerCategory: 'Fecha y Hora',
                            headerValue: 'Energía Generada',
                            categoryFormatter(x) {
                                return new Date(x).toLocaleDateString() + ' ' + new Date(x).toLocaleTimeString();
                            },
                            valueFormatter(y) {
                                return y.toFixed(2);
                            }
                        },
                        svg: {
                            filename: undefined,
                        },
                        png: {
                            filename: undefined,
                        }
                    },
                }
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
            },
            title: {
                text: 'Energía generada por el proyecto',
                align: 'left'
            },
            fill: {
                type: 'solid',
                gradient: {
                    shadeIntensity: 1,
                    inverseColors: false,
                    opacityFrom: 0.5,
                    opacityTo: 0,
                    stops: [0, 90, 100]
                },
            },
            stroke: {
                width: 2,
                curve: 'straight'
            },
            yaxis: {
                title: {
                    text: 'Energía Generada'
                }
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    formatter: function (value) {
                        return new Date(value).toLocaleDateString();
                    }
                }
            },            
        };

        // Crear y renderizar el gráfico
        var chart = new ApexCharts(document.querySelector("#myChartPro"), options);
        chart.render();
    });
</script>


