{% block head %} {% include 'layouts/head.html' %} {% endblock %}
{% if num_info != '5' %}
    <div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem; height: 80vh; position: relative;">
        <div id="scrollContainer" class="card-body" style="overflow: auto; position: relative; height: 100%;">
            {% if num_info == '1' %}
                {% if cant_componentes[2] != 0 %}
                    <div class="card mx-3 mb-3 border-0 shadow" style="background-color: #f0f8ff;">
                        <div class="card-header text-white text-center" style="background-color: #13447c;">
                            <h5 class="card-title mb-0"><b>Pasos</b></h5>
                        </div>
                        <div class="card-body p-4">
                            <ol class="pl-3" style="font-size: 1.1rem; line-height: 1.7;">
                                <li>Sumamos los voltajes y escogemos la corriente mínima de cada serie.</li>
                                <li>El resultado formará una columna, con paneles conectados en paralelo, sumamos las corrientes y escogemos el voltaje mínimo.</li>
                                <li>Multiplicamos el resultado para obtener la potencia total del arreglo.</li>
                            </ol>
                        </div>
                    </div>
                            
                    {% for arr_completo in arreglos_completos %}
                    <div class="row mt-4">
                        <div class="col">
                            <table class="table table-bordered table-primary rounded-table">
                                <h5><b>Arreglo {{ loop.index }}</b></h5>
                                <tbody>
                                    {% set serie_pro = arr_completo.series_totales %}
                                    {% set paralelo = arr_completo.paralelos %}

                                    {% for i in range(arr_completo.arreglo[50]) %}
                                    <tr>
                                        {% for j in range(arr_completo.arreglo[51]) %}
                                            {% set panel = serie_pro[i].paneles[j] %}
                                            {% if panel[3] is not none %}
                                                <td class="text-center align-middle">
                                                    <small>{{ panel[3] }} V<br>{{ panel[4] }} A</small>
                                                </td>
                                            {% else %}
                                                <td class="text-center align-middle">
                                                    <small>0.0 V<br>0.0 A</small>
                                                </td>
                                            {% endif %}
                                        {% endfor %}

                                        {% if loop.index == 1 %}
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                        {% endif %}

                                        {% if paralelo %}
                                            <td class="text-center align-middle">
                                                <small>{{ paralelo[i][2] }} V<br>{{ paralelo[i][3] }} A</small>
                                            </td>
                                        {% endif %}

                                        {% if loop.index == 1 %}
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <small>{{ arr_completo.arreglo[46] }} V<br>{{ arr_completo.arreglo[47] }} A</small>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <small>{{ arr_completo.arreglo[45] }} W</small>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay Arreglos de Paneles registrados en este proyecto.
                    </div>
                {% endif %}

            {% elif num_info == '2' %}
                {% if cant_componentes[0] != 0 %} 
                    {% if error_cap_inv is not none %}
                        <div class="alert alert-danger text-center">
                            <small>{{error_cap_inv}}<br>{{error_inv_arr}}</small>
                        </div>
                    {% endif %}
                    <div class="container mt-4">
                        <div class="card shadow border-0 rounded-3 mt-4">
                            <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                                <h5 class="mb-0">Datos del Inversor</h5>
                            </div>
                            <div class="card-body bg-light p-4 rounded-bottom">
                                <table class="table table-hover table-bordered rounded">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Inversor</th>
                                            <th scope="col">Datos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Referencia Inversor</th>
                                            <td>{{pro_com[18]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Número de Entradas</th>
                                            <td>{{pro_com[19]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Voltaje Máximo de Entrada (Vme)</th>
                                            <td>{{pro_com[21]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Corriente Máxima de Entrada (Ime)</th>
                                            <td>{{pro_com[22]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Potencia Máxima (Pmax)</th>
                                            <td>{{pro_com[20]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Voltaje de Salida (Vout)</th>
                                            <td>{{pro_com[23]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Eficiencia (%)</th>
                                            <td>{{pro_com[25]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Onda de Salida</th>
                                            <td>{{pro_com[24]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        
                
                        {% if pro_com[32] == 'No' %}
                            {% if pro_com[10] is not none %}
                                <div class="card shadow border-0 rounded-3 mt-4">
                                    <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                                        <h5 class="mb-0">Datos del Regulador</h5>
                                    </div>
                                    <div class="card-body bg-light p-4 rounded-bottom">
                                        <table class="table table-hover table-bordered rounded">
                                            <thead class="table-primary">
                                                <tr>
                                                    <th scope="col">Regulador</th>
                                                    <th scope="col">Datos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Referencia Regulador</th>
                                                    <td>{{pro_com[34]}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Voltaje (V)</th>
                                                    <td>{{pro_com[36]}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Corriente (A)</th>
                                                    <td>{{pro_com[37]}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Potencia (W)</th>
                                                    <td>{{pro_com[35]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                            
                            {% else %}
                                <div class="alert alert-warning text-center mt-4">
                                    No hay Reguladores registrados en este proyecto.
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay Inversores registrados en este proyecto.
                    </div>
                {% endif %}
        
            {% elif num_info == '3' %}
                {% if cant_componentes[3] != 0 %}
                    <div class="card mx-3 mb-3 border-0 shadow" style="background-color: #f0f8ff;">
                        <div class="card-header text-white text-center" style="background-color: #13447c;">
                            <h5 class="card-title mb-0"><b>Pasos</b></h5>
                        </div>
                        <div class="card-body p-4">
                            <ol class="pl-3" style="font-size: 1.1rem; line-height: 1.7;">
                                <li>Sumamos los voltajes y realizamos promedio de las capacidades, de cada serie.</li>
                                <li>El resultado formará una columna, con baterías conectadas en paralelo; sumamos las capacidades y verificamos que el voltaje sea el mismo.</li>
                                <li>Multiplicamos el resultado, obteniendo la energía total del banco.</li>
                            </ol>
                        </div>
                    </div>            
                
                    {% for ban_completo in bancos_completos %}
                    <div class="row mt-4">
                        <div class="col">
                            <table class="table table-bordered table-primary rounded-table">
                                <h5><b>Banco {{ loop.index }}</b></h5>
                                <tbody>
                                    {% set serie_pro = ban_completo.series_totales %}
                                    {% set paralelo = ban_completo.paralelos %}
                                    {% for i in range(ban_completo.banco[64]) %}
                                    <tr>
                                        {% for j in range(ban_completo.banco[65]) %}
                                            {% set bateria = serie_pro[i].baterias[j] %}
                                            {% if bateria[3] is not none %}
                                                <td class="text-center align-middle">
                                                    <small>{{ bateria[2] }} V<br>{{ bateria[3] }} Ah</small>
                                                </td>
                                            {% else %}
                                                <td class="text-center align-middle">
                                                    <small>0.0 V<br>0.0 Ah</small>
                                                </td>
                                            {% endif %}
                                        {% endfor %}

                                        {% if loop.index == 1 %}
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                        {% endif %}

                                        {% if paralelo %}
                                            <td class="text-center align-middle">
                                                <small>{{ paralelo[i][1] }} V<br>{{ paralelo[i][2] }} Ah</small>
                                            </td>
                                        {% endif %}

                                        {% if loop.index == 1 %}
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <small>{{ ban_completo.banco[60] }} V<br>{{ ban_completo.banco[61] }} Ah</small>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <h1 style="font-size: 50px;">}</h1>
                                            </td>
                                            <td rowspan="0" class="text-center align-middle">
                                                <small>{{ ban_completo.banco[62] }} Wh</small>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay Banco de Baterias registrados en este proyecto.
                    </div>
                {% endif %}
            {% elif num_info == '5' %}
                Comparacion con estructura fisica
            {% endif %}
        </div>
    </div>
{% endif %}
{% if num_info == '4' %}
    {% block eje_proyecto %} {% include 'creacion_de_proyecto/eje_proyecto.html' %} {% endblock %}   
{% endif %}