{% block head %} {% include 'layouts/head.html' %} {% endblock %}
{% if num_info != '4' %}
    <div class="card shadow-lg card-flush h-md-50 mb-5 mb-xl-10" style="padding: 1rem; height: 80vh; position: relative;">
        <div id="scrollContainer" class="card-body" style="overflow: auto; position: relative; height: 100%;">
            
            {% if num_info == '1' %}
                {% if pro_com[3] is not none %}                     
                    <div class="container mt-4">
                        <div class="card shadow border-0 rounded-3 mt-4">
                            <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                                <h5 class="mb-0">Datos del Motobomba</h5>
                            </div>
                            <div class="card-body bg-light p-4 rounded-bottom">
                                <table class="table table-hover table-bordered rounded">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Motobomba</th>
                                            <th scope="col">Datos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Referencia Motobomba</th>
                                            <td>{{pro_com[12]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Potencia Maxima</th>
                                            <td>{{pro_com[13]}} Kw</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Voltaje Maximo</th>
                                            <td>{{pro_com[14]}} V</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Caudal Motobomba</th>
                                            <td>{{pro_com[15]}} L/m</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Diametro de Entrada</th>
                                            <td>{{pro_com[16]}} mm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Diametro de Salida</th>
                                            <td>{{pro_com[17]}} mm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Frecuencia Motobomba</th>
                                            <td>{{pro_com[18]}} Hz</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Presion Motobomba</th>
                                            <td>{{pro_com[19]}} Bar</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay Motobomba registrada en este proyecto.
                    </div>
                {% endif %}
            {% endif %}
            {% if num_info == '2' %}
                {% if pro_com[34] is not none %}                     
                    <div class="container mt-4">
                        <div class="card shadow border-0 rounded-3 mt-4">
                            <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                                <h5 class="mb-0">Datos del Generador</h5>
                            </div>
                            <div class="card-body bg-light p-4 rounded-bottom">
                                <table class="table table-hover table-bordered rounded">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Generador</th>
                                            <th scope="col">Datos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Referencia Generador</th>
                                            <td>{{pro_com[35]}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Potencia Maxima</th>
                                            <td>{{pro_com[36]}} W</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Voltaje Maximo</th>
                                            <td>{{pro_com[37]}} V</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Velocidad Generador</th>
                                            <td>{{pro_com[38]}} rpm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Diametro Generador</th>
                                            <td>{{pro_com[39]}} mm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>       

                        {% if pro_com[64] is not none %}
                            <div class="card shadow border-0 rounded-3 mt-4">
                                <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                                    <h5 class="mb-0">Datos del Turbina</h5>
                                </div>
                                <div class="card-body bg-light p-4 rounded-bottom">
                                    <table class="table table-hover table-bordered rounded">
                                        <thead class="table-primary">
                                            <tr>
                                                <th scope="col">Turbina</th>
                                                <th scope="col">Datos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Tipo Turbina</th>
                                                <td>{{pro_com[65]}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Cantidad de {{pro_com[70]}}</th>
                                                <td>{{pro_com[56]}} Und</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Velocidad Turbina</th>
                                                <td>{{pro_com[57]}} rpm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                        
                        {% else %}
                            <div class="alert alert-warning text-center mt-4">
                                No hay turbina registrada en este proyecto.
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay generador registrado en este proyecto.
                    </div>
                {% endif %}
            {% endif %}
            {% if num_info == '3' %}
                {% if pro_com[47] != 0 %}
                    <div class="card shadow border-0 rounded-3 mt-4">
                        <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                            <h5 class="mb-0">Datos del Tanque</h5>
                        </div>
                        <div class="card-body bg-light p-4 rounded-bottom">
                            <div class="row g-4 align-items-center">
                                <!-- Columna de la imagen del tanque -->
                                <div class="col-md-6 d-flex align-items-center justify-content-center"> 
                                    {% set ranges = [
                                        (0, 10, 'tanque0.png'),
                                        (10, 25, 'tanque1.png'),
                                        (25, 50, 'tanque2.png'),
                                        (50, 75, 'tanque3.png'),
                                        (75, 100, 'tanque4.png'),
                                        (100, 9999999999, 'tanque5.png')
                                    ] %}
                                    {% for range in ranges %}
                                        {% if pro_com[47] >= range[0] and pro_com[47] < range[1] %}
                                            <img src="{{ url_for('static', filename='images/' + range[2]) }}" 
                                                class="tooltip_btn" 
                                                style="width: 12rem;" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                data-bs-custom-class="custom-tooltip" 
                                                data-bs-title="{{ pro_com[47] }} L/m³">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                    
                                <!-- Columna de la tabla de datos -->
                                <div class="col-md-6">
                                    <table class="table table-hover table-bordered rounded text-center">
                                        <thead class="table-primary">
                                            <tr>
                                                <th scope="col">Tanque</th>
                                                <th scope="col">Datos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Capacidad Tanque</th>
                                                <td>{{ pro_com[47] }} L/m³</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        No hay tanque registrado en este proyecto.
                    </div>
                {% endif %}
            {% endif %}
            {% if num_info == '5' %}
                {% if tub_com %}
                <div class="container mt-4">
                    <div class="card shadow border-0 rounded-3 mt-4">
                        <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                            <h5 class="mb-0">Información Tuberia</h5>
                        </div>
                        <div class="card-body bg-light p-4 rounded-bottom">
                            <table class="table table-hover table-bordered rounded">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Tuberia</th>
                                        <th>Datos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td>Cantidad Tubos</td>
                                        <td>{{ tub_com[-1][6] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cantidad Codos</td>
                                        <td>{{ tub_com[-1][5] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Diametro Inyector</td>
                                        <td>{{ tub_com[-1][3] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Caudal</td>
                                        <td>{{ tub_com[-1][4] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>       
                    <div class="card shadow border-0 rounded-3 mt-4">
                        <div class="card-header text-white text-center rounded-top" style="background-color: #13447c;">
                            <h5 class="mb-0">Información por Tubo</h5>
                        </div>
                        <div class="card-body bg-light p-4 rounded-bottom">
                            <table class="table table-hover table-bordered rounded">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Tubo</th>
                                        <th>Longitud</th>
                                        <th>Codo</th>
                                        <th>Orientacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tub_com in tub_com %}
                                    <tr>
                                        <td>{{ tub_com[7] }}</td>
                                        <td>{{ tub_com[0] }}</td>
                                        <td>{{ tub_com[2] }}</td>
                                        <td>{{ tub_com[1] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center mt-4">
                        Este proyecto no cuenta con tuberías que conecten la motobomba al generador.
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
    </div>
{% endif %}
{% if num_info == '4' %}
    {% block eje_proyecto %} {% include 'creacion_de_proyecto/eje_proyecto_hidrica.html' %} {% endblock %}   
{% endif %}