<div class='modal fade' id='conect_sensor_modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h6 class='modal-title fuente' id='exampleModalLabel'>Conecta tú sensor de irradiancia</h6>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form id="bateria-form" method="POST" action="{{ url_for('datos_sensor')}}">
                <div class="modal-body" style="height: 19rem;">
                    <input type="hidden" name="eje_pro" value="T">
                    <input type="hidden" name="id_pro" value="{{ pro.id_pro }}">
                    <div class="form-group mb-3">
                        <label for="ref_sen">Referencia del Sensor:</label>
                        <input type="text" class="form-control" id="ref_sen" name="ref_sen" maxlength="50" placeholder="Apogee SP-110-SS" required>
                    </div>
                    <div class="alert alert-warning" style="margin-top:2rem;" role="alert">
                        <strong>Advertencia!</strong> Primero configura el Arduino, seleccionando una placa y un puerto para conectar automáticamente. Posteriormente Cierra Arduino.<br> Si levantas datos a tiempo real, evita salirte del proyecto.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Conectar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class='modal fade' id='detener_sensor_modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h6 class='modal-title fuente' id='exampleModalLabel'>Deten el sensor de irradiancia</h6>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form id="bateria-form" method="POST" action="{{ url_for('datos_sensor')}}">
                <input type="hidden" name="eje_pro" value="F">
                <input type="hidden" name="id_pro" value="{{ pro.id_pro }}">
                <input type="hidden" name="ref_sen" value="Apogee SP-110-SS">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Detener</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" style="width: 20cm;" id="datos_energia" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="title-login" style="color: #13447c;font-size: 35px;" id="offcanvasRightLabel"><b>informacion datos generados</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        {% if proyecto[0].eje_pro=="T" %}
        <script>
            $(function() {
                $('#data-table').DataTable({
                    "language": {
                        "emptyTable": "No hay datos disponibles en la tabla",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                        "lengthMenu": "Mostrar _MENU_ entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron registros coincidentes",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    "order": [
                        [4, "desc"]
                    ],
                    "paging": false,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                    "pageLength": 10
                });
            });
        </script>
        <table id="data-table">
            <thead>
                <tr>
                    <th>Ref Sensor</th>
                    <th>G Wm^2</th>
                    <th>Eficiencia Arreglos %</th>
                    <th>Total Energía W</th>
                    <th>Fecha Energía</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be dynamically added here -->
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            var lastData = null;

            function updateTable(id_pro) {
                $.ajax({
                    url: '/get_latest_data/' + id_pro,
                    type: 'GET',
                    success: function(data) {
                        if (data && !areObjectsEqual(data, lastData)) {
                            // Add to the table only if the data is not identical to the lastData
                            var newRow = '<tr><td>' + data.ref_sen + '</td><td>' + data.g_sen + '</td><td>' + data.efi_ene + '</td><td>' + data.tot_ene * 1000 + '</td><td>' + data.fec_ene + '</td></tr>';
                            $('#data-table tbody').prepend(newRow);
                            lastData = data; // Update lastData
                        }
                    }
                });
            }

            function areObjectsEqual(obj1, obj2) {
                // Compare objects to check if they are equal
                return JSON.stringify(obj1) === JSON.stringify(obj2);
            }

            // Call updateTable function periodically
            var id_pro = "{{ pro.id_pro }}"; // Pass id_pro from your template
            console.log(id_pro);
            setInterval(function() {
                updateTable(id_pro);
            }, 1000); // Set the interval to match your data update frequency
        </script>
        {% elif proyecto[0].eje_pro=="F" and todos_datos_ene is not none %}
        <script>
            $(function() {
                $('#data-table').DataTable({
                    "language": {
                        "emptyTable": "No hay datos disponibles en la tabla",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                        "lengthMenu": "Mostrar _MENU_ entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron registros coincidentes",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    "order": [
                        [4, "desc"]
                    ],
                });
            });
        </script>
        <table id="data-table">
            <thead>
                <tr>
                    <th>Ref Sensor</th>
                    <th>G Wm^2</th>
                    <th>Eficiencia Arreglos %</th>
                    <th>Total Energía W</th>
                    <th>Fecha Energía</th>
                </tr>
            </thead>
            <tbody>
                {%for energia_arreglo, sensor_irradiancia in todos_datos_ene%}
                <tr>
                    <td>{{sensor_irradiancia.ref_sen}}</td>
                    <td>{{sensor_irradiancia.g_sen}}</td>
                    <td>{{energia_arreglo.efi_ene}}</td>
                    <td>{{energia_arreglo.tot_ene*1000}}</td>
                    <td>{{energia_arreglo.fec_ene}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" style="width: 29cm;" id="infoArreglo" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="title-login" style="color: #13447c;font-size: 35px;" id="offcanvasRightLabel"><b>informacion arreglo de paneles</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if cant_arr!=0 %}
        <div class="card" style="margin-left: 1rem;margin-right: 1rem;margin-bottom: 1rem;border-color: rgb(10, 28, 88);background-color: rgba(160, 198, 247, 0.267);">
            <div class="card-body">
                <small>
                    <p class="card-title"><b>Pasos</b></p>
                    <p class="card-text"><b>1) </b> Sumamos los voltajes y escogemos la corriente mínima de cada serie.</p>
                    <p class="card-text"><b>2) </b> El resultado formará una columna, con paneles conectados en paralelo, sumamos las corrientes y escogemos el voltaje mínimo.</p>
                    <p class="card-text"><b>3) </b> El resultado lo multiplicamos, dándonos la potencia total del arreglo.</p>
                    </small>
            </div>
        </div>
        {% if proyecto[2] and ene_real is not none %}<small><b>(</b>🔌🌞 La energia total generada, teniendo en cuenta las capacidades totales de los arreglos es <b>{{ene_real[0].tot_ene*1000}} W</b>, con una irradiancia de <b>{{ene_real[1].g_sen}} Wm^2)</b> </small>        {% elif proyecto[2] and ene_real is none %}
        <small><b>(</b>🔌🌞 La energia total generada, teniendo en cuenta las capacidades totales de los arreglos es <b>0 W</b>, con una irradiancia de <b>0 Wm^2)</b> </small> {% endif %} {% for arr in proyecto[2] %}
        <div class="row" style="margin-top: 2rem;">
            <div class="col">
                <table class="table table-bordered table-secondary">
                    <h5><b>Arreglo {{ 0+loop.index }}</b></h5>
                    <tbody>
                        {% for i in range(arr.fil_arr) %} {% set paralelo = ParaleloArreglo.query.filter_by(id_arr=arr.id_arr).order_by(ParaleloArreglo.id_parr).all() %}
                        <tr>
                            {% for j in range(arr.col_arr) %} {% if paralelo %} {% set series_del_paralelo = SerieArreglo.query.filter_by(id_parr=paralelo[i].id_parr).order_by(SerieArreglo.id_sarr.desc()).all() %} {% set serie = series_del_paralelo[j] %} {% set panel = Panel.query.get(serie.id_pan)
                            %}
                            <td style="vertical-align: middle;text-align: center;">
                                <small>{{panel.vmp_pan}} {% if serie.id_pan is not none %}V{% endif %}<br></small>
                                <small>{{panel.imp_pan}} {% if serie.id_pan is not none %}A{% endif %}<br></small>
                            </td>
                            {% endif %} {% endfor %} {% if loop.index == 1 %}
                            <td rowspan="0" style="vertical-align: middle;text-align: center;">
                                <h1 style="font-size: 50px;">}</h1>
                            </td>
                            {% endif %} {% if paralelo %} {% set series_del_paralelo = SerieArreglo.query.filter_by(id_parr=paralelo[i].id_parr).order_by(SerieArreglo.id_sarr).all() %} {% set serie = series_del_paralelo[0] %} {% set panel = Panel.query.get(serie.id_pan) %}
                            <td style="vertical-align: middle;text-align: center;">
                                <small>{{paralelo[i].vser_parr}} V<br></small>
                                <small>{{paralelo[i].iser_parr}} A<br></small>
                            </td>
                            {% endif %} {% if loop.index == 1 %}
                            <td rowspan="0" style="vertical-align: middle;text-align: center;">
                                <h1 style="font-size: 50px;">}</h1>
                            </td>
                            {% endif %} {% if loop.index == 1 %}
                            <td rowspan="0" style="vertical-align: middle;text-align: center;">
                                <small>{{ arr.vmax_arr }} V<br></small>
                                <small>{{ arr.imax_arr }} A<br></small>
                            </td>
                            {% endif %} {% if loop.index == 1 %}
                            <td rowspan="0" style="vertical-align: middle;text-align: center;">
                                <h1 style="font-size: 50px;">}</h1>
                            </td>
                            {% endif %} {% if loop.index == 1 %}
                            <td rowspan="0" style="vertical-align: middle;text-align: center;">
                                <small>{{ arr.ptot_arr }} W<br></small>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        </br>
        {% endfor %} {% else %}
        <h6 style="text-align:center;">No hay Arreglos de paneles registrados en este proyecto.</h6>
        {% endif %}
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" style="width: 15cm;" id="infoInversor" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h2 class="title-login" style="color: #13447c;font-size: 35px;" id="offcanvasRightLabel"><b>informacion inversor</b></h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if pro.id_inv is not none %} {% if error_cap_inv !='vacio' %}
        <div class="alert alert-danger"><small>{{error_cap_inv}}<br>{{error_inv_arr}}</small></div>
        {% endif %}
        <table class="table table-hover table-secondary">
            <thead>
                <tr>
                    <th scope="col">Inversor</th>
                    <th scope="col">Datos</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">Referencia inversor</th>
                    <td>{{proyecto[1].ref_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Número de Entradas</th>
                    <td>{{proyecto[1].ent_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Voltaje Máxima de Entrada (Vme)</th>
                    <td>{{proyecto[1].vme_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Corriente Máxima de Entrada (Ime)</th>
                    <td>{{proyecto[1].ime_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Potencia Máxima (Pmax)</th>
                    <td>{{proyecto[1].pmax_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Voltaje Salida (Vout)</th>
                    <td>{{proyecto[1].vsa_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Eficiencia (%)</th>
                    <td>{{proyecto[1].efi_inv}}</td>
                </tr>
                <tr>
                    <th scope="row">Onda de Salida</th>
                    <td>{{proyecto[1].ond_inv}}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <h6 style="text-align:center;">No hay Inversores registrados en este proyecto.</h6>
        {% endif %}
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" style="width: 21cm;" id="infoBanco" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="title-login" style="color: #13447c;font-size: 35px;" id="offcanvasRightLabel"><b>informacion banco de baterias</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if cant_ban!=0 %}
        <div class="card" style="margin-left: 1rem;margin-right: 1rem;margin-bottom: 1rem;border-color: rgb(10, 28, 88);background-color: rgba(160, 198, 247, 0.267);">
            <div class="card-body">
                <small>                    
                    <p class="card-title"><b>Pasos</b></p>
                    <p class="card-text"><b>1) </b> Sumamos los voltajes y realizamos promedio de las capacidades, de cada serie.</p>
                    <p class="card-text"><b>2) </b> El resultado formará una columna, con baterias conectados en paralelo, sumamos las capacidades y verificamos que el voltaje debe ser el mismo.</p>
                    <p class="card-text"><b>3) </b> El resultado lo multiplicamos, dándonos la energia total del banco.</p>
                    </small>
            </div>
        </div>
        {% for ban in proyecto[3] %}
        <div class="row">
            <div class="col">
                {% if error_banco !='vacio' %}
                <div class="alert alert-danger"><small>{{error_banco}}</small></div>
                {% endif %}
                <h5><b>Banco de baterias  </b></h5>
                {% if proyecto[1] %}<small><b>(</b> 🔌🔋 Llega del inversor al banco <b>{{ener_inv_ban}} Wh</b>, con <b>{{proyecto[1].vsa_inv}} V </b> y <b>{{ener_inv_ban/proyecto[1].vsa_inv}} Ah)</b> </small>{% endif %}
                <table class="table table-bordered table-secondary" style="margin-top: 2rem;">
                    {% for i in range(ban.fil_ban) %} {% set paralelob = ParaleloBanco.query.filter_by(id_ban=ban.id_ban).order_by(ParaleloBanco.id_pban).all() %}
                    <tr>
                        {% for j in range(ban.col_ban) %} {% set series_del_paralelo = SerieBanco.query.filter_by(id_pban=paralelob[i].id_pban).order_by(SerieBanco.id_sban).all() %} {% set serieb = series_del_paralelo[j] %} {% set bateria = Bateria.query.get(serieb.id_bat) %}
                        <td style="vertical-align: middle;text-align: center;">
                            <small>{{bateria.vol_bat}} {% if serieb.id_bat is not none %}V{% endif %}<br></small>
                            <small>{{bateria.cap_bat}} {% if serieb.id_bat is not none %}Ah{% endif %}<br></small>
                        </td>
                        {% endfor %} {% if loop.index == 1 %}
                        <td rowspan="0" style="vertical-align: middle;text-align: center;">
                            <h1 style="font-size: 50px;">}</h1>
                        </td>
                        {% endif %}
                        <td style="vertical-align: middle;text-align: center;">
                            <small>{{paralelob[i].vser_pban}} V<br></small>
                            <small>{{paralelob[i].cser_pban}} Ah<br></small>
                        </td>
                        {% if loop.index == 1 %}
                        <td rowspan="0" style="vertical-align: middle;text-align: center;">
                            <h1 style="font-size: 50px;">}</h1>
                        </td>
                        {% endif %} {% if loop.index == 1 %}
                        <td rowspan="0" style="vertical-align: middle;text-align: center;">
                            <small>{{ ban.vol_ban }} V<br></small>
                            <small>{{ ban.cap_ban }} Ah<br></small>
                        </td>
                        {% endif %} {% if loop.index == 1 %}
                        <td rowspan="0" style="vertical-align: middle;text-align: center;">
                            <h1 style="font-size: 50px;">}</h1>
                        </td>
                        {% endif %} {% if loop.index == 1 %}
                        <td rowspan="0" style="vertical-align: middle;text-align: center;">
                            <small>{{ ban.ene_ban }} Wh<br></small>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        </br>
        {% endfor %} {% else %}
        <h6 style="text-align:center;">No hay Banco de baterias registrados en este proyecto.</h6>
        {% endif %}
    </div>
</div>