<div class="modal fade" id="projectCargah{{ pcar[0] }}" tabindex="-1" role="dialog" aria-labelledby="ProjectArregloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Selecciona la Potencia de la carga {{ pcar[2] }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-ser-pan" method="POST" action="/hidrica/modal_carga_pot_hidrica">
                <input type="hidden" name="id_pcar_h" value="{{ pcar[0] }}"> 
                <div class="modal-body" style="height: 7rem;">
                    <label for="pot_pcar_h">Potencia de la carga {{ pcar[2] }}:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="pot_pcar_h" aria-describedby="basic-addon2" min="1" max="1900" name="pot_pcar_h" step="0.01" value="{{ pcar[1] }}" required>
                        <span class="input-group-text" id="basic-addon2">W</span>
                    </div>
                </div>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Seleccionar</button>
                </div>
            </form>
        </div>
    </div>
</div>