<div class="modal fade" id="projectBancoDOD" tabindex="-1" role="dialog" aria-labelledby="ProjectBancoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega un nuevo banco a tú proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if pro and dod %}
            <form method="POST" action="{{ url_for('dod_banco_project') }}">
                <div class="modal-body" style="height: 13rem;">
                    <input type="hidden" name="id_pro" value="{{ pro.id_pro }}">
                    <input type="hidden" name="id_ban" value="{{ dod.id_ban }}">
                    <h5 style="margin-bottom: 3rem;"><b> •Nombre del proyecto ({{ pro.nom_pro }}) </b></h5>
                    <div class="form-group mb-3">
                        <label for="dod_ban">¿Agrega el DOD correspondiente de tu banco de baterias?:</label>
                        <input type="number" class="form-control" id="dod_ban" name="dod_ban" min="1" max="100" value="{{dod.dod_ban}}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>