<div class="modal fade" id="projectCaudalimetro" tabindex="-1" role="dialog" aria-labelledby="ProjectArregloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header color_modal_info">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Valor del caudalímetro</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>              
            <div class="modal-body d-flex flex-column justify-content-center align-items-center" style="height: 10rem;">
                <label class="mb-3 text-secondary">El valor del caudal es:</label>
                <div class="border border-secondary rounded-4 p-3 bg-light text-dark fw-bold fs-6">
                    {{ info[1] }} m³/s
                </div>
            </div>                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

