<div class="modal fade" id="projectTurbinaAlabes" tabindex="-1" role="dialog" aria-labelledby="ProjectArregloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega la cantidad de {{info[4]}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-ser-pan" method="POST" action="/hidrica/add_turbina_alabes_project">
                <input type="hidden" name="id_pro" value="{{info[0]}}">   
                <div class="modal-body" style="height: 12rem;">
                    <label for="cant_ptur">Cantadad de {{info[4]}}:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="cant_ptur" aria-describedby="basic-addon2" min="1" max="90" name="cant_ptur" step="0.01" value="{{info[1] }}" required>
                        <span class="input-group-text" id="basic-addon2">Und</span>
                    </div>
                    <label for="vel_ptur">Velocidad de la turbina {{info[3]}}:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="vel_ptur" aria-describedby="basic-addon2" min="1" max="10000" name="vel_ptur" step="0.01" value="{{info[2] }}" required>
                        <span class="input-group-text" id="basic-addon2">rpm</span>
                    </div>
                </div>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Seleccionar</button>
                </div>
            </form>
        </div>
    </div>
</div>