<script>
    $(function() {
        $('#tabla').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron genistros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
<div class="modal fade" id="projectGenerador" tabindex="-1" role="dialog" aria-labelledby="ProjectGeneradorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega un generador a tú proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if pro %}
            <form method="POST" action="/hidrica/add_generador_project">
                <div class="modal-body">
                    <h5 style="margin-bottom: 1rem;"><b> Informacion del Generador:  </b></h5>
                    {%if info is not none %} 
                    {% if info[20]==false %}
                        <div class="alert alert-danger">El generador {{info[10]}} con identificacion {{info[18]}} se encuentra deshabilitado. Si deseas continuar con el proyecto, utiliza otro generador.</div>
                    {% endif %}
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Referencia Generador</th>
                                <th>Potencia Máxima (Pmax)</th>
                                <th>Voltaje Máxima de Entrada (Vme)</th>
                                <th>Velocidad Generador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info[10]}}</td>
                                <td>{{info[11]}}</td>
                                <td>{{info[12]}}</td>
                                <td>{{info[13]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %} No hay informacion para mostrar en este momento. {%endif%} 
                    <input type="hidden" name="id_pro" value="{{ pro[0] }}">
                    <h5 style="margin-bottom: 3rem; margin-top: 3rem; "><b> •Nombre del proyecto ({{ pro[1] }}) </b></h5>
                    <table id="tabla" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Referencia Generador</th>
                                <th>Potencia Máxima (Pmax)</th>
                                <th>Voltaje Máxima de Entrada (Vme)</th>
                                <th>Velocidad Generador</th> 
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for gen in gen %}
                            <tr>
                                <td>{{gen[1]}}</td>
                                <td>{{gen[2]}}</td>
                                <td>{{gen[3]}}</td>
                                <td>{{gen[4]}}</td>
                                <td><input class="form-check-input" type="radio" name="id_gen" id="id_gen" value="{{gen[0]}}" required></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Seleccionar</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>