<div class="modal fade" id="projectTanque" tabindex="-1" role="dialog" aria-labelledby="ProjectArregloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header color_modal_info">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega la capacidad del tanque de agua</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-ser-pan" method="POST" action="/hidrica/add_tanque_project">
                <input type="hidden" name="id_pro" value="{{info[0]}}">   
                <div class="modal-body" style="height: 7rem;">
                    <label for="cap_tan">Capacidad del Tanque es:</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="cap_tan" aria-describedby="basic-addon2" min="1" max="1900" name="cap_tan" step="0.01" value="{{info[1] }}" required>
                        <span class="input-group-text" id="basic-addon2">L/m³</span>
                    </div>
                </div>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Seleccionar</button>
                </div>
            </form>
        </div>
    </div>
</div>