<script>
    $(function() {
        $('#tabla').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
<div class="modal fade" id="projectInversorCard" tabindex="-1" role="dialog" aria-labelledby="ProjectInversorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega un inversor a tú proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if pro %}
            <form method="POST" action="{{ url_for('add_inversor_project') }}">
                <div class="modal-body">
                    <h5 style="margin-bottom: 1rem;"><b> Informacion del Inversor:  </b></h5>
                    {%if info is not none %} {% if info.Inversor.est_inv=='Deshabilitado' %}
                    <div class="alert alert-danger">El inversor {{info.Inversor.ref_inv}} con identificacion {{info.Inversor.idu_inv}} se encuentra deshabilitado. Si deseas continuar con el proyecto, utiliza otro inversor.</div>
                    {% endif %}
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Referencia inversor</th>
                                <th>Número de Entradas</th>
                                <th>Voltaje Máxima de Entrada (Vme)</th>
                                <th>Corriente Máxima de Entrada (Ime)</th>
                                <th>Potencia Máxima (Pmax)</th>
                                <th>Voltaje Salida (Vout)</th>
                                <th>Eficiencia (%)</th>
                                <th>Onda de Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info.Inversor.ref_inv}}</td>
                                <td>{{info.Inversor.ent_inv}}</td>
                                <td>{{info.Inversor.vme_inv}}</td>
                                <td>{{info.Inversor.ime_inv}}</td>
                                <td>{{info.Inversor.pmax_inv}}</td>
                                <td>{{info.Inversor.vsa_inv}}</td>
                                <td>{{info.Inversor.efi_inv}}</td>
                                <td>{{info.Inversor.ond_inv}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if info is not none %}
                    <div class="alert alert-warning" style="margin-top:2rem;" role="alert">
                        <strong>Advertencia!</strong> Si decides sustituir el inversor por uno que posea menos entradas que la cantidad de arreglos, ten en cuenta que los últimos conjuntos de datos se eliminarán.
                    </div>
                    {% endif %} {% else %} No hay informacion para mostrar en este momento. {%endif%}
                    <input type="hidden" name="id_pro" value="{{ pro.id_pro }}">
                    <h5 style="margin-bottom: 3rem;"><b> •Nombre del proyecto ({{ pro.nom_pro }}) </b></h5>
                    <table id="tabla" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Referencia inversor</th>
                                <th>Número de Entradas</th>
                                <th>Voltaje Máxima de Entrada (Vme)</th>
                                <th>Corriente Máxima de Entrada (Ime)</th>
                                <th>Potencia Máxima (Pmax)</th>
                                <th>Voltaje Salida (Vout)</th>
                                <th>Eficiencia (%)</th>
                                <th>Onda de Salida</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for inv in inv %}
                            <tr>
                                <td>{{inv.ref_inv}}</td>
                                <td>{{inv.ent_inv}}</td>
                                <td>{{inv.vme_inv}}</td>
                                <td>{{inv.ime_inv}}</td>
                                <td>{{inv.pmax_inv}}</td>
                                <td>{{inv.vsa_inv}}</td>
                                <td>{{inv.efi_inv}}</td>
                                <td>{{inv.ond_inv}}</td>
                                <td><input class="form-check-input" type="radio" name="id_inv" id="id_inv" value="{{inv.id_inv}}" required></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Seleccionar</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>