{% block head %} {% include 'layouts/head.html' %} {% endblock %}
{% set pro_com = proyecto_completo[0] %}

<body  class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="container-fluid">  
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-3 bg-body-tertiary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasRightLabel" style="margin-bottom: 2rem;color:#13447c;font-size: 22px;"><b>{{ pro_com[1] }}</b></h4>
                </div>
                <div class="offcanvas-body">
                    <!-- Sección Fotovoltaico -->
                    <label for="end_date" class="form-label" style="margin-bottom: 1rem;"><b>Información</b></label>
                    <ul class="list-group list-group-flush">                        
                        <li class="list-group-item">
                            <a href="/inicio_proyecto_fotovoltaica?num_info=1&id_pro={{ pro_com[0] }}" class="nav-link text-dark nav-color" title="Información Arreglos">
                                Información Arreglos
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/inicio_proyecto_fotovoltaica?num_info=2&id_pro={{ pro_com[0] }}" class="nav-link text-dark nav-color" title="Información Inversor">
                                Información Inversor
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/inicio_proyecto_fotovoltaica?num_info=3&id_pro={{ pro_com[0] }}" class="nav-link text-dark nav-color" title="Información Banco de Baterias">
                                Información Banco de Baterias
                            </a>
                        </li>
                        {% if num_info is not none%}
                            <li class="list-group-item">
                                <a href="/inicio_proyecto_fotovoltaica?id_pro={{ pro_com[0] }}" class="nav-link text-dark nav-color" title="Proyecto Fotovoltaico">
                                    Regresar al Proyecto
                                </a>
                            </li>
                        {% endif%}
                    </ul>
                </div>
            </div>  
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container" data-aos="fade-up">
                    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;">
                        <div class="col ms-sm-auto">                            
                            {% if proyecto_completo and num_info is none%}
                                {% block inicio %} {% include 'creacion_de_proyecto/inicio.html' %} {% endblock %}                                                            
                            {% else %}
                                {% block informacion_fotovoltaica %} {% include 'creacion_de_proyecto/informacion_fotovoltaica.html' %} {% endblock %}                                                            
                            {% endif %}
                        </div>
                        
                    </div>                  
                    
                </div>
            </main>
        </div>
    </section>   

    <script src="https://cdn.jsdelivr.net/npm/apexcharts "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</body>
