{% block head %} {% include 'layouts/head.html' %} {% endblock %}

<body  class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="container-fluid">  
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-3 bg-body-tertiary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <!-- Nombre del proyecto, truncado si es demasiado largo -->
                    <h4 class="offcanvas-title" id="offcanvasRightLabel" style="margin-bottom: 1rem; color: #13447c; font-size: 22px;">
                        <b>{{ pro_h[1][:30] }}{% if pro_h[1]|length > 30 %}...{% endif %}</b>
                    </h4>
                </div>
                <div class="offcanvas-body">
                    <!-- Sección Fotovoltaico -->
                    <label for="end_date" class="form-label" style="margin-bottom: 1rem;"><b>Información</b></label>
                    <ul class="list-group list-group-flush">                        
                        <li class="list-group-item">
                            <a href="/hidrica/inicio_proyecto_hidrica?num_info=1&id_pro={{ pro_h[0] }}" class="nav-link text-dark nav-color" title="Información Motobomba">
                                Información Motobomba
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/hidrica/inicio_proyecto_hidrica?num_info=2&id_pro={{ pro_h[0] }}" class="nav-link text-dark nav-color" title="Información Generador">
                                Información Generador
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/hidrica/inicio_proyecto_hidrica?num_info=5&id_pro={{ pro_h[0] }}" class="nav-link text-dark nav-color" title="Información Tuberia">
                                Información Tuberia
                            </a>
                        </li> 
                        <li class="list-group-item">
                            <a href="/hidrica/inicio_proyecto_hidrica?num_info=3&id_pro={{ pro_h[0] }}" class="nav-link text-dark nav-color" title="Información Tanque">
                                Información Tanque
                            </a>
                        </li>            
                    </ul> 

                    <li class="list-group-item" style="margin-bottom: 1rem;">
                        <a class="btn btn-outline-primary d-flex align-items-center justify-content-center gap-2 w-100 py-2 fs-6 shadow-sm rounded-3 tooltip_btn"
                           href="/hidrica/inicio_proyecto_hidrica?num_info=4&id_pro={{ pro_com[0] }}"
                           data-bs-toggle="tooltip" data-bs-placement="right"
                           data-bs-custom-class="custom-tooltip"
                           data-bs-title="Visualizar datos del proyecto.">                                    
                            <span class="fw-semibold">Visualizar Datos</span>
                        </a>
                    </li>
                    {% if num_info is not none%}
                        <a class="btn btn-outline-primary d-flex align-items-center justify-content-center gap-2 w-100 py-2 fs-6 shadow-sm rounded-3 tooltip_btn"
                            href="/hidrica/inicio_proyecto_hidrica?id_pro={{ pro_com[0] }}"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Volver a la Estructuración del Proyecto.">                                    
                            <span class="fw-semibold">Regresar al Proyecto</span>
                        </a>
                    {% endif %}  
                    {% if eje_pro == False %}
                        {% for proyecto in pro_com %}
                            {% if loop.index == 1 and pro_com[3] is not none and pro_com[32] is not none and pro_com[64] is not none and pro_com[72] != 0 and car_com[0][7]!=0 and (car_com|selectattr(8, '!=', 0)|list)|length > 0 and pro_com[47] != 0 %}
                            
                                <hr class="border border-secondary">

                                <label class="form-label fw-bold text-dark mb-3">Ejecutar Proyecto</label>
                                <a class="btn btn-outline-primary d-flex align-items-center gap-2 tooltip_btn conexion_sensor_h" 
                                href="/hidrica/modal_conexion_sensor_hidrica?num_info=4&id_pro={{ pro_com[0] }}&eje=True" 
                                data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Ejecuta la estructura y recolecta datos.">
                                    <i class="bi bi-play-fill"></i> Ejecutar
                                </a>
                                <div id="alerta-proyecto" class="alert alert-primary mt-3" style="display: none;">
                                    <small>⚡ <strong>Proyecto listo:</strong> Presiona <strong>Ejecutar Proyecto</strong> para iniciar la recolección de datos.</small>
                                </div>
                                <script>
                                    // Mostrar la alerta
                                    document.getElementById("alerta-proyecto").style.display = "block";

                                    // Ocultar la alerta después de 7 segundos
                                    setTimeout(function() {
                                        document.getElementById("alerta-proyecto").style.display = "none";
                                    }, 5000);
                                </script>                        
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <hr class="border border-secondary">
                        <label class="form-label fw-bold text-dark mb-3">Finalizar Ejecución</label>
                        <a class="btn btn-outline-secondary d-flex align-items-center gap-2 tooltip_btn" 
                        href="/hidrica/inicio_proyecto_hidrica?num_info=4&id_pro={{ pro_com[0] }}&eje=False" 
                        data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Finaliza la ejecución de recopilación de datos.">
                            <i class="bi bi-stop-circle"></i> Finalizar
                        </a>
                    {% endif %}
                </div>
            </div>              
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container" data-aos="fade-up">
                    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;">
                        <div class="col ms-sm-auto">                            
                            {% if pro_h and num_info is none%}
                                {% block inicio %} {% include 'creacion_de_proyecto/inicio_hidrico.html' %} {% endblock %}                                                            
                            {% else %}
                                {% block informacion_hidrica %} {% include 'creacion_de_proyecto/informacion_hidrica.html' %} {% endblock %}                                                            
                            {% endif %}
                        </div>
                        
                    </div>                  
                    
                </div>
            </main>
        </div>
    </section>   

    <script src="https://cdn.jsdelivr.net/npm/apexcharts "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</body>
