<div class="row">   
    {% for pro_list in pro_list %}
        <div class="col">                            
            <div class="clase_table" style="width: 18rem; margin: 1rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">
                                {% if pro_list.nom_pro|length > 30 %}
                                    {{ pro_list.nom_pro[:30] + '...' }}
                                {% else %}
                                    {{ pro_list.nom_pro }}
                                {% endif %}
                            </h5>
                        </div>
                        <div class="col-sm-3 text-end">
                            {% if pro_list.arr is none and pro_list.id_inv is none and pro_list.ban is none %} 
                                <small class="form-text text-muted">(Vacío)</small>
                            {% endif %}
                        </div>
                    </div>     
                    <small class="form-text text-muted">({{pro_list.fec_pro}})</small>
                    <table class="table">
                        <tbody>
                            <tr>  
                                {% if pro_list.arr is none %}                                      
                                    <td>
                                        <img src="{{ url_for('static', filename='images/arreglo-list-project-na.png') }}" title="No hay arreglos">
                                    </td>
                                {% else %}
                                    <td>
                                        <img src="{{ url_for('static', filename='images/arreglo-list-project.png') }}" title="Si hay arreglos">
                                    </td>
                                {% endif %}
                                {% if pro_list.id_inv is none %}  
                                    <td>
                                        <img src="{{ url_for('static', filename='images/inversor-list-project-na.png') }}" title="No hay Inversor">
                                    </td>
                                {% else %}
                                    <td>
                                        <img src="{{ url_for('static', filename='images/inversor-list-project.png') }}" title="Si hay Inversor">
                                    </td>
                                {% endif %}
                                {% if pro_list.ban is none %} 
                                    <td>
                                        <img src="{{ url_for('static', filename='images/banco-list-project-na.png') }}" title="No hay Bancos">
                                    </td>
                                {% else %}
                                    <td>
                                        <img src="{{ url_for('static', filename='images/banco-list-project.png') }}" title="Si hay Bancos">
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>    
                    <a href="{{ url_for('inicio_principal', id_pro=pro_list.id_pro)}}" class="btn btn-primary">Ingresa al proyecto</a> 
                    <a href="#" id='{{pro_list.id_pro}}' data-bs-toggle='modal' data-bs-target='#eliminar{{pro_list.id_pro}}'><i class="bi bi-trash3-fill" style="color: rgb(255, 95, 95); margin-left: 4rem;font-size: 1.4rem;"></i></a>            
                    <div class='modal fade' id='eliminar{{pro_list.id_pro}}' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' >
                        <div class='modal-dialog' style="width: 20rem;">
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <h6 class='modal-title fuente' id='exampleModalLabel'>¿Desea eliminar este proyecto?</h6>
                                    <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                                </div>
                                <div class='modal-body' style="height: 10rem;">
                                    <div class="row">
                                        <div class="col"><h5 class="card-title">{{pro_list.nom_pro}}</h5></div>
                                        <div class="col-sm-3 text-end">
                                            {% if pro_list.arr is none and pro_list.id_inv is none and pro_list.ban is none %} 
                                                <small class="form-text text-muted">(Vacío)</small>
                                            {% endif %}
                                        </div>
                                    </div>     
                                    <small class="form-text text-muted">({{pro_list.fec_pro}})</small>
                                    <table class="table" style="width: 10rem;">
                                        <tbody>
                                            <tr>  
                                                {% if pro_list.arr is none %}                                      
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/arreglo-list-project-na.png') }}" title="No hay arreglos">
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/arreglo-list-project.png') }}" title="Si hay arreglos">
                                                    </td>
                                                {% endif %}
                                                {% if pro_list.id_inv is none %}  
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/inversor-list-project-na.png') }}" title="No hay Inversor">
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/inversor-list-project.png') }}" title="Si hay Inversor">
                                                    </td>
                                                {% endif %}
                                                {% if pro_list.ban is none %} 
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/banco-list-project-na.png') }}" title="No hay Bancos">
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <img src="{{ url_for('static', filename='images/banco-list-project.png') }}" title="Si hay Bancos">
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                                <div class='modal-footer'>
                                    <a href="{{ url_for('delete_project', id_pro=pro_list.id_pro)}}" class='btn btn-danger'>Eliminar</a>
                                    <button type='button' class='btn btn btn-secondary' data-bs-dismiss='modal' aria-label='Close' title='Cancelar Actualizacion'>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>                                                                             
        </div>
    {% endfor %}    
</div>   